@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?l2q0yp');
    src:    url('../fonts/icomoon/icomoon.eot?l2q0yp#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?l2q0yp') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?l2q0yp') format('woff'),
        url('../fonts/icomoon/icomoon.svg?l2q0yp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
    content: "\e900";
}
.icon-checkbox-mark:before {
    content: "\e901";
}
.icon-cross:before {
    content: "\e902";
}
.icon-download:before {
    content: "\e903";
}
.icon-download-doc:before {
    content: "\e904";
}
.icon-link:before {
    content: "\e905";
}
.icon-location:before {
    content: "\e906";
}
.icon-mail-envelope:before {
    content: "\e907";
}
.icon-message-closed-envelope:before {
    content: "\e908";
}
.icon-phone:before {
    content: "\e909";
}
.icon-plus:before {
    content: "\e90a";
}
.icon-question:before {
    content: "\e90b";
}
.icon-reload:before {
    content: "\e90c";
}
.icon-search:before {
    content: "\e90d";
}
.icon-social-fb:before {
    content: "\e90e";
}
.icon-social-ins:before {
    content: "\e90f";
}
.icon-social-ok:before {
    content: "\e910";
}
.icon-social-tw:before {
    content: "\e911";
}
.icon-social-vk:before {
    content: "\e912";
}
.icon-social-ytb:before {
    content: "\e913";
}


