
        /* jssor slider thumbnail navigator skin 07 css */
        /*
        .jssort07-126-80 .p            (normal)
        .jssort07-126-80 .p:hover      (normal mouseover)
        .jssort07-126-80 .pav          (active)
        .jssort07-126-80 .pav:hover    (active mouseover)
        .jssort07-126-80 .pdn          (mousedown)
        */
        .jssort07-126-80 .p {
            position: absolute;
            top: 0;
            left: 0;
            width: 126px;
            height: 80px;
        }

        .jssort07-126-80 .i {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 126px;
            height: 80px;
            filter: alpha(opacity=50);
            opacity: .5;
        }

        .jssort07-126-80 .p:hover .i, .jssort07-126-80 .pav .i {
            filter: alpha(opacity=100);
            opacity: 1;
        }

        .jssort07-126-80 .o {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 124px;
            height: 78px;
            border: 1px solid #000;
            box-sizing: content-box;
            transition: border-color .6s;
            -moz-transition: border-color .6s;
            -webkit-transition: border-color .6s;
            -o-transition: border-color .6s;
        }

        .jssort07-126-80 .pav .o {
            border-color: #97b43b;
        }

        .jssort07-126-80 .p:hover .o {
            border-color: #fff;
            transition: none;
            -moz-transition: none;
            -webkit-transition: none;
            -o-transition: none;
        }

        .jssort07-126-80 .p.pdn .o {
            border-color: #97b43b;
        }

        * html .jssort07-126-80 .o {
            /* ie quirks mode adjust */
            width /**/: 126px;
            height /**/: 80px;
        }
