.container {
  position: relative;
  z-index: 1;
  height: 100%;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-danger, .btn-warning {
  background-image: none;
  filter: none;
  text-shadow: none;
  border: 0;
}
.navbar {
  margin-bottom: 0;
}
.navbar-nav > li > a {
  text-shadow: 0 0 0;
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Roboto", Arial, sans-serif;
  font-weight: normal;
}
.navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .navbar-nav > li.active > a {
  text-shadow: 0 0 0;
  color: #97b43b;
  background-color: transparent;
}
.navbar-nav .navbar-nav > li.active > a {
  background-color: #222;
}



/* ----- navbar aside ----- */

.navbar.navbar-custom {
  border: 0px;
  margin: 0px;
  background-color: transparent;
}

.aside-navigation .navbar-nav {
  margin: 0;
  padding: 15px 0;
  display: block;
  width: 100%;
  text-align: center;
}
.aside-navigation .navbar-collapse {
  padding: 0;
}
.aside-navigation .navbar-custom {
  margin: 0;
}

.aside-navigation .navbar-nav > li {
  display: inline-block;
  float: none;
}
.aside-navigation .navbar-nav > li > a {
  color: #fff;
  text-shadow: none;
  font-size: 16px;
}
.aside-navigation .nav > li > a {
  padding: 8px 15px;
}
.aside-navigation .nav > li > a:hover, .aside-navigation .nav > li > a:focus, .aside-navigation .nav > li.active > a {
  background-color: transparent;
  text-decoration: underline;
}




.icon-bar {
  background-color: #fff;
}
.aside-navigation .icon-bar {
  background-color: #97b43b;
}

.well {
  box-shadow: none;
  background-image: none;
}
.breadcrumb {
  padding: 10px 15px;
  margin-bottom: 0;
}

/* ----- carousel ----- */


.carousel-caption {
  bottom: auto;
  top: 30%;
}
.carousel-caption h3 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 60px;
}
.carousel-control {
  opacity:1;
  filter:alpha(opacity=100);
  font-size:60px;
  color:#fff;
  text-align:center;
  text-shadow:0 1px 2px rgba(0,0,0,0.6);
  background-color: transparent;
}
.carousel-control.left {
  background-image:none;
  filter:none;
}
.carousel-control.right {
  background-image:none;
  filter:none;
}
.carousel-control:focus {
  color:#fff;
  opacity:1;
  filter:alpha(opacity=100);
}
.carousel-control:hover {
  color:#97b43b;
  opacity:1;
  filter:alpha(opacity=100);
}
.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right {
  position:absolute;
  top:50%;
  margin-top:-20px;
  z-index:5;
}
.carousel-control .icon-prev,.carousel-control .glyphicon-chevron-left {
  left:50%;
  margin-left:-20px;
}
.carousel-control .icon-next,.carousel-control .glyphicon-chevron-right {
  right:50%;
  margin-right:-20px;
}
.carousel-control .icon-prev,.carousel-control .icon-next {
  width:40px;
  height:40px;
  font-size: 40px;
  line-height:1;
}

.grid .thumbnail {
  margin-bottom: 0;
}
.grid .thumbnail:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.085);
  box-shadow: 0 2px 4px rgba(0,0,0,0.085);
}

.grid li a.btn {
  display: inline-block;
}

.header .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #222;
}

.header .dropdown-menu {
  background-color: rgba(34, 34, 34, 0.95);
}
.header .dropdown li a {
  background-image: none;
  color: #f7f7f7;
}
.header .dropdown-menu > li > a:hover, .header .dropdown-menu > li > a:focus {
  color: #97b43b;
  background-color: #222;
  background-image: none;
}
