@media only screen and (max-width : 1200px) {
  .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .text-big {
    font-size: 18px;
  }
  .green-dots li span {
    font-size: 18px;
  }
  .indent-block {
    padding: 30px;
  }
  .half-grid-item.indent-block {
    padding-top: 0;
    padding-bottom: 0;
  }
}





@media only screen and (max-width : 992px) {
  .navbar-nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .text-big {
    font-size: 16px;
  }
  .green-dots li span {
    font-size: 16px;
  }

  .magic-middle {
    display: none;
  }
  .magic-edge {
    display: block;
    float: left;
    width: 50%;
  }
  .magic-edge p {
    min-height: 50px;
    margin: 40px 0;
  }
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    position: static;
    top: 0;
    left: auto;
    right: auto;
  }
  .footer {
    margin-top: -238px;
    height: 238px;
  }
  .content {
    padding-bottom: 238px;
    padding-top: 0;
  }
}





@media only screen and (max-width : 768px) {
  .magic-edge p {
    min-height: 70px;
  }
  .navbar-brand {
    max-width: 75%;
  }
  .indent-regular {
    padding: 20px 0;
  }
  .indent-big {
    padding: 30px 0;
  }
  .indent-block {
    padding: 20px;
  }
  .mid-container {
    padding: 20px;
  }
  .footer .socials, .footer .search {
    margin-left: 0;
    float: none;
    text-align: center;
  }
  .header .socials, .header .search {
    margin-left: 0;
    float: none;
    text-align: center;
  }
  .socials {
    padding: 20px 0;
  }
  .socials .social {
    margin: 0 8px;
  }
  .top-bar {
    padding: 10px 20px;
  }
  .top-bar .top-title {
    text-align: center;
  }
  .search {
    margin-bottom: 50px;
  }
}





@media only screen and (max-width : 480px) {
  .half-grid-item {
    display: block;
    width: 100%;
  }
  .half-grid-item p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .magic-edge {
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    float: none;
    width: 100%;
  }
  .magic-edge p {
    min-height: auto;
    margin: 0;
    padding: 20px 0;
    text-align: left;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5, h6 {
    font-size: 18px;
  }
}





@media only screen and (max-width : 360px){

}





@media only screen and (max-width : 320px){

}
