html {
	height: 100%;
}
body {
	height: 100%;
	background: #e6e6e6;
  overflow-x: hidden;
}

.border-block{
  border-bottom: 1px solid #a3c614;
  padding-bottom: 30px;
}
img{
	max-width: 100%;
}


h1, h2, h3 {
  font-family: "Roboto Condensed";
  font-weight: 300;
}
h4, h5, h6 {
  font-family: "Roboto Condensed";
  font-weight: 400;
}
h1, h2 {
  text-align: center;
}
h1 {
  margin-bottom: 70px;
}

/* Header ----------------------------------------------------*/
.header {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  z-index: 100;
  background-color: #333;
}
.top-bar {
  background-color: #97b43b;
  padding: 10px 30px 10px 15px;
}
.top-title {
  display: inline;
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #333;
  margin: 0;
}
.dark-block {
  display: block;
  padding: 30px;
  background-color: #333;
  color: #fff;
}
.dark-block p {
  color: #fff;
  margin: 10px 0;
}
.dark-block a {
  color: #7cc623;
  text-decoration: none;
}
.dark-block a:hover {
  color: #7cc623;
  text-decoration: none;
}
.socials {
  float: right;
  margin-left: 20px;
}
.socials a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  margin-left: 10px;
  line-height: 1.4;
}
.socials a:hover {
  text-decoration: none;
  color: #fff;
}
.search {
  float: right;
}
.search .input-group .form-control, .input-group-addon {
  border: 0;
  padding: 1px 10px;
  height: 28px;
}
.footer .socials a {
  color: #98b53c;
}
.footer .socials a:hover {
  color: #fff;
}


/* Content  ------------------------------------------------*/

.content {
	background-color: #fff;
  min-height: 100%;
  padding-bottom: 120px;
  padding-top: 98px;
  box-sizing: border-box;
}
.indent-small {
  padding: 20px 0;
}
.indent-regular {
  padding: 30px 0;
}
.indent-big {
  padding: 40px 0;
}
.indent-bigest {
  padding: 70px 0;
}
.indent-block {
  padding: 30px;
}
.aside-content {
  padding: 30px 30px 100px 0;
}
.hr-green {
  border-top: 1px solid #a3c614;
  margin-top: 0;
  margin-bottom: 0;
}
.mid-container{
	max-width: 750px;
	margin: 0 auto;
}
.full-width {
  width: 100%;
  max-width: 100%
}
.link-block {
  display: block;
  text-align: center;
}
.green-dots {
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.green-dots li {
  color: #a3c614;
}
.green-dots li span {
  font-size: 20px;
  color: #333;
}

.half-grid {
  display: table;
  width: 100%;
}
.half-grid-item {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.half-grid-item img {
  min-width: 100%;
}
.text-big {
  font-size: 20px;
}

.magic {
  display: table;
}
.magic-edge, .magic-middle {
  display: table-cell;
}
.magic-middle {
  width: 50%;
}
.magic-middle img {
  width: 100%;
}
.magic-edge {
  width: 25%;
  padding: 10px 20px;
  vertical-align: middle;
}
.magic-edge p {
  margin: 20% 0;
}

.leftimg {
  float: left;
  max-width: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
}
.rightimg {
  float: right;
  max-width: 50%;
  margin-left: 15px;
  margin-bottom: 10px;
}
ul.number{
  margin: 0;
  padding: 0;
}
.number li{
  list-style-type: none;
}
.leftimg_ico{
  float: left;
  margin-right: 10px;
}
.left_ico{
  float: left;
  margin: 0 10px 30px 0;
}

.rightimg_ico{
  margin-left: 10px;
}

/*------------ASIDE------------*/
.aside-navigation {
  margin: 30px 0 50px 0;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
  box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}
.aside-navigation a{
  color: #333;
  margin: 0;
  padding: 10px 5px 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2;
  display: block;
  font-size: 16px;
  font-family: "Roboto Condensed", "Roboto", Arial, sans-serif;
}
.aside-navigation a:hover, .aside-navigation a:focus, .aside-navigation a.active {
  color: #97b43b;
  text-decoration: none;
}
.aside-navigation a {
  position: relative;
  z-index: 1;
}
.aside-navigation a.active:before {
  content: '';
  position: absolute;
  z-index: 2;
  height: 12px;
  top: 13px;
  left: 5px;
  margin-right: -12px;
  width: 0;
  border: 6px solid transparent;
  border-left-color: #333;
}
.aside-navigation li ul li a.active:before {
  left: 20px;
}
.aside-navigation li a:hover::before, .aside-navigation li a.active:hover::before {
  content: '';
  position: absolute;
  z-index: 2;
  height: 12px;
  top: 13px;
  left: 5px;
  margin-right: -12px;
  width: 0;
  border: 6px solid transparent;
  border-left-color: #97b43b;
}
.aside-navigation li ul li a:hover::before, .aside-navigation li ul li a.active:hover::before {
  left: 20px;
}
.aside-navigation li {
  list-style-type: none;
  border-bottom: 1px solid #e6e6e6;
}
.aside-navigation li:last-child {
  border-bottom: none;
}
.aside-navigation li ul {
  display: none;
}
.aside-navigation li.active ul.dropdown {
  display: block;
}
.aside-navigation li.active ul a {
  padding-left: 30px;
}
.aside-navigation ul {
  margin: 0;
  padding: 0;
}
.dropdown a {
  text-transform: none;
}
.dropdown li{
  border-bottom: none;
}
.dropdown li a{
  padding-left: 10px;
}
.dropdown li:first-child {
  border: none;
}
.dropdown li:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}
.dropdown ul {
  margin: 0;
  padding: 30px 0;
}
/*------------end ASIDE----------*/

/* Footer
-----------------------------------------------------------------------------*/
.footer {
  margin-top: -120px;
  border-top: 1px solid #3F3F3F;
  height: 120px;
  box-sizing: border-box;
	padding: 30px 20px 20px 20px;
	background: #333333;
  color: #fff;
}
.footer-logo {
	text-align: center;
  margin-bottom: 10px;
}
.copy {
  font-size: 13px;
  text-align: center;
}
