<!-- embed video -->
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BkSfuOLLYOY" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->

<p><strong>Скалолазание</strong> - популярный вид спорта, суть которого заключается в прохождении скалолазной трассы. Раньше под данным термином подразумевался исключительно выезд на скалы, но в наши дни все поменялось, так как свое развитие получили скалодромы, имитирующие скалолазный рельеф. Скалолазание — <strong>самостоятельный вид спорта</strong>.</p>

<img alt="Олимпийский вид спорта" src="IMAGES/skalolazanie - olimpiiskii vid sporta.jpg" title="Скалолазание - самостоятельный вид спорта. Фото" class="rightimg" />
<p>Альпинизм зародился средь высочайших горных массивов, а слово "альпинизм", к которому часто приравняют "скалолазание", пошло от Альп - это самые высокие горы в Западной Европе.</p>

<p>Скалолазание стало полноценным видом спорта в нашей стране, 60 лет тому назад во времена СССР.</p>

<p>Январь, 2007 год - была образована Международная федерация спортивного скалолазания. В IFSC вошло 68 стран!</p>

<p>Появление <a href="[[++site_url]]vidyi-skalodromov/sportivnui-skalodrom">спортивного скалолазания</a>, а также его общественное признание навсегда изменили этот вид спорта. Появление искусственных гор стало неизбежным!</p>

<p>Скалолазание получило признание не только как соревновательный спорт. Роль скалолазания сильно выросла. Достаточно посмотреть на европейские страны, где скалолазание было включено в <a href="[[++site_url]]kuda-i-dlya-kogo/skalodrom-dlya-shkolu">учебную программу</a>. Все больше и больше скалодромов начали появляться в учебных заведениях разных типов. Это как детские сады, так и ВУЗы. Также стали производиться специальные скалодромы, рассчитанные <a href="[[++site_url]]kuda-i-dlya-kogo/skalodromyi-dlya-invalidov">на людей с ограниченными возможностями</a>. Скалолазание можно с полной уверенностью назвать видом спорта, который может получить мировые масштабы. Всего 20 лет потребовалось для того, чтобы скалолазание стало соревновательным видом спорта. Соревнований, как и желающих, с каждым новым годом все больше и больше!</p>

<p>Соревнования проводятся по нижеуказанным дисциплинам, согласно IFSC:</p>

<ul>
  <li>скалолазание на трудность (сложность)</li>
  <li>скалолазание на скорость</li>
  <li>боулдеринг</li>
</ul>

<p>В последние годы, благодаря стремительному развитию скалолазания, стали проводиться скалолазные фестивали, состоящие как из маленького количества туров, так из большого.</p>

<p><strong>Скалолазание</strong> – это <a href="[[++site_url]]pochemu-skalodrom/eto-ekstrimalnyij-attrakczion">экстрим</a>. Если соблюдать <a href="[[++site_url]]texnologii/sistema-bezopasnosti">технику безопасности</a>, то риска, опасности для жизни и здоровья человека совершенно нет. Зато всегда есть адреналин в крови, который так необходим людям, особенно тем, кто давно его не чувствовал на себе. Скалолазание - спорт, где все зависит от человека. Только человек и цель!<br />
В наши дни многие рассматривают скалолазание как <a href="[[++site_url]]pochemu-skalodrom/eto-fitnes">фитнес</a>, как способ <a href="[[++site_url]]pochemu-skalodrom/eto-zdorovo-i-modno">активного и здорового образа жизни</a>. Все больше и больше скалодромов, скалолазных тренажеров можно наблюдать в <a href="[[++site_url]]vidyi-skalodromov/skalodrom-dlya-fitnesa">фитнес-центрах</a>.<br />
Тот, кто хочет покорить вершину ради <a href="[[++site_url]]kuda-i-dlya-kogo/razvlekatelnyie-skalodromyi-razmeshhayut">развлечения</a>, может посетить <a href="[[++site_url]]vidyi-skalodromov/razvlekatelnii-skalodrom-skalodrom-attrakcion">аттракционы-скалодромы</a>, которые можно найти в торгово-развлекательных центрах, на пляжах, и в прочих людных местах.</p>

<p><strong>Скалолазание</strong> - это спорт, в первую очередь. Практически во всех регионах можно найти скалолазные секции и школы. Если в Вашем городе таковых нет, то компания CK FormAT Вам с радостью поможет. Так было с нашими первыми в Харькове боулдеринг-клубами нашей сети скалодромов. У нас всё получилось. Значит, и у Вас обязательно всё получится. Наш многолетний опыт - залог Вашего успеха!</p>

<p>Не бойтесь стать частью скалолазной тусовки в любое время, поскольку скалолазание гостеприимно для каждого независимо от физической подготовки, веса и возраста, конечно, если вам уже исполнилось 2 года и не исполнилось 111 лет!</p>

<p><strong>Скалодром</strong> был изобретен французом Франсуа Савини. Скалодром частично или полностью имитирует природный рельеф, все зависит от вида скалодрома, а также структурного наполнения. Скалолазание очень популярно во многих странах. Это волна накрывает и Россию! Существует много скалодромов, которые делят на виды, основываясь на уровне сложности, <a href="[[++site_url]]texnologii/paneli-dlya-skalodroma">материалах скальных панелей</a> и прочего. Скалодромы можно встетить как на детский площадках, где играет детвора, так и в профессиональных фитнес-клубах, куда люди приходят решать свои фитнес-задачи.</p>

<h2 style="text-align: center;">Стена для скалолазов (скалолазная стенка):</h2>

<ul>
  <li>активный отдых</li>
  <li>физическая нагрузка</li>
  <li>здорово и модно</li>
  <li>безопасный экстрим</li>
</ul>

