﻿<!-- embed video -->
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fl2VSP7Nk4k" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->


<p>Все панели скалодромов из фанеры от компании <strong>FormAT</strong> оборудованы интегрированными металлическими оцинкованными <a href="[[++site_url]]texnologii/zakladnyie-elementyi-panelej">закладными резьбовыми элементами</a> под зацепы из расчета 21 отверстие на 1 кв.м., что обеспечивает свободный быстрый монтаж зацеп и рельефов для <a href="[[++site_url]]nashi-uslugi/postroenie-marshrutov">постановки и изменения трасс (маршрутов)</a>.</p>

<h3>Панели из фанеры</h3>

<hr>
<div class="row">
  <div class="col-xs-4">
    <img alt="Скалолазные панели. Фанера" src="IMAGES/skalolaznaya-panel-01.jpg" title="Фанера как материал для скалодрома. Фото" />
  </div>
  <div class="col-xs-8">
    <p>Стандартная фанера</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    <img alt="Скалолазные панели. Фанера" src="IMAGES/skalolaznaya-panel-02.jpg" title="Фанера как материал для скалодрома. Фото" />
  </div>
  <div class="col-xs-8">
    <p>Фанера со специальным покрытием на основе кварцевого песка, обеспечивающая жёсткую поверхность, имитирующую реальную поверхность скалы, что необходимо для хорошей сцепки со скальными туфлями и ориентировано на спортивные занятия и мероприятия</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    <img alt="Скалолазные панели. Фанера" src="IMAGES/skalolaznaya-panel-03.jpg" title="Фанера как материал для скалодрома. Фото" />
  </div>
  <div class="col-xs-8">
    <p>Ламинированная фанера со специальным покрытием на основе кварцевого песка, обеспечивающая жёсткую поверхность, имитирующую реальную поверхность скалы, что необходимо для хорошей сцепки со скальными туфлями и ориентировано на <a href="[[++site_url]]vidyi-skalodromov/sportivnui-skalodrom">спортивные занятия</a> и мероприятия</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    <img alt="Скалолазные панели. Фанера" src="IMAGES/skalolaznaya-panel-04.jpg" title="Фанера как материал для скалодрома. Фото" />
  </div>
  <div class="col-xs-8">
    <p>Многослойная водостойкая композитная панель, состоящая из фанеры, слоев стеклоткани, пропитанной специальными смолами с добавлением кварцевого песка</p>
  </div>
</div>
<hr>


<h3>Панели из влагостойкой фанеры. Композитная панель</h3>

<p>Влагостойкая фанера используется в Deep Water Solo (скалолазание над водой/бассейном). Учитывая прямой контакт скалодрома с водой, используется именно влагостойкая фанера, а не какая-либо другая. </p>

<h3>Панели из ламинированной фанеры</h3>

<p>Ламинированная фанера часто используется в боулдеринг-скалодромах. Обусловлено это сложностью трасс. Как было сказано выше, такая фанера обеспечивает жёсткую поверхность, что позволяет иметь хорошую сцепку со скальными туфлями во время лазания.</p>
