﻿<p>Данная страница содержит информацию, посвященную использованию и обработке информации, полученной от Вас.</p>

<p><strong>СК FormAT</strong> использует информацию для ниже перечисленных целей:</p>

<p>- составление коммерческого предложения;</p>

<p>- разработка и создание 3D модели скалодрома;</p>

<p>- <strong>бесплатный расчет</strong> скалодрома;</p>

<p>- продажа скалолазных зацеп;</p>

<p>- строительство скалодромов и установка скалолазных тренажеров;</p>

<p>- предоставление презентаций (у нас большое количество презентаций для каждой целевой аудитории).</p>

<p>Все полученные данные являются строго конфиденциальными и не выходят за рамки <strong>СК FormAT</strong>.</p>
С уважением, администрация сайта.
