﻿<h4>Соглашение между Пользователем и Компанией <strong>СК FormAT</strong>:</h4>

  <p><strong>1.1.</strong> Пользователь - физическое или юридическое лицо, совершавшее действия на сайте: просмотр фотографий, статей, информации.</p>

<p>Компания <strong>СК FormAT</strong> - производитель скалодромов, работающий по всему СНГ.</p>

<p>Сайт - skalodrom-prom.com</p>

  <p><strong>1.2.</strong> Находясь на домене skalodrom-prom.com, Вы соглашаетесь с тем, что:</p>

<p>- полученная информация будет обрабатываться нашими специалистами;</p>

<p>- <strong>СК FormAT</strong> имеет право публиковать любой контент, без каких-либо ограничений;</p>

<p>- <strong>СК FormAT</strong> имеет право заниматься рассылкой, если есть смысл донести важную информацию до Посетителя.</p>
Если Вы не принимаете условия <strong>СК FormAT</strong>, то рекомендуем покинуть данный ресурс.

<p>С уважением, администрация.</p>
