﻿<!-- embed video -->
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BkSfuOLLYOY" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->

<div class="row">
  <div class="col-xs-6">
    <h3>Мнения людей</h3>

    <div class="media">
      <div class="media-left">
        <a href="[[+site_url]]img/services/2-9/x.png">
          <img class="media-object" style="width: 40px; max-width: 40px;" alt="icon" src="img/services/2-9/x.png" />
        </a>
      </div>
      <div class="media-body">
        <p>Для установки скалодрома (climbingwall) нужны высокие потолки, потому что это исключительно лазание вверх.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <h3>Действительность</h3>

    <div class="media">
      <div class="media-left">
        <a href="[[+site_url]]img/services/2-9/v.png">
          <img class="media-object" style="width: 40px; max-width: 40px;" alt="icon" src="img/services/2-9/v.png" />
        </a>
      </div>
      <div class="media-body">
        <p>Для установки скалолазного тренажера достаточно <a href="[[++site_url]]vidyi-skalodromov/skalodrom-dlya-fitnesa/vasha-vyisota-potolkov">высоты от 3 метров</a>. Стоит понимать, что скалолазание - это не только лазание вверх. Тренировки обеспечиваются благодаря программам, подобранным <strong>СК FormAT</strong>, в том числе и с использование кругового лазания, а также <a href="[[++site_url]]vidyi-skalodromov/traverse">траверсного</a>.</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <div class="media">
      <div class="media-left">
        <a href="[[+site_url]]img/services/2-9/x.png">
          <img class="media-object" style="width: 40px; max-width: 40px;" alt="icon" src="img/services/2-9/x.png" />
        </a>
      </div>
      <div class="media-body">
        <p>Бизнес на скалодроме - это очень трудоемкий процесс. Возникает ряд вопросов: "Что делать, если скалодром надоест людям? У меня нет инструкторов, которые бы осилили скалолазание. Что по поводу регулярных тренировок, которые всем так полюбились? Разве скалодром подходит для них?"</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media">
      <div class="media-left">
        <a href="[[+site_url]]img/services/2-9/v.png">
          <img class="media-object" style="width: 40px; max-width: 40px;" alt="icon" src="img/services/2-9/v.png" />
        </a>
      </div>
      <div class="media-body">
        <p>Скалодром не надоест людям по ряду причин: имеет массу <a href="[[++site_url]]nashi-uslugi/postroenie-marshrutov">маршрутов</a>, которые можно легко менять, обновлять, также на скалодроме постоянно приходится решать различные задачи + влияние на все мышечные группы человека, чем не могут похвастаться другие тренажеры. Скалодром универсален. Мы предоставляем полноценную <a href="[[++site_url]]nashi-uslugi/obuchenie-i-sistema-trenirovok">систему тренировок</a>. Это касается как клиентов, так и тренерского штаба.</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <div class="media">
      <div class="media-left">
        <a href="[[+site_url]]img/services/2-9/x.png">
          <img class="media-object" style="width: 40px; max-width: 40px;" alt="icon" src="img/services/2-9/x.png" />
        </a>
      </div>
      <div class="media-body">
        <p>Это очень опасно, мои клиенты могут получать ряд травм, занимаясь скалолазанием. Не хочу терять клиентов.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media">
      <div class="media-left">
        <a href="[[+site_url]]img/services/2-9/v.png">
          <img class="media-object" style="width: 40px; max-width: 40px;" alt="icon" src="img/services/2-9/v.png" />
        </a>
      </div>
      <div class="media-body">
        <p>Скалолазание не является опасным, так как это неконтактный вид спорта, также применяется целый ряд <a href="[[++site_url]]texnologii/sistema-bezopasnosti">страховочного оборудования</a>, которое является абсолютно безопасным и сертифицированным по всем международным стандартам.</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <div class="media">
      <div class="media-left">
        <a href="[[+site_url]]img/services/2-9/x.png">
          <img class="media-object" style="width: 40px; max-width: 40px;" alt="icon" src="img/services/2-9/x.png" />
        </a>
      </div>
      <div class="media-body">
        <p>Кому это интересно помимо экстремалов и людей, которые увлекаются скалолазанием? Мне нужны тренажеры, рассчитанные на среднего потребителя.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media">
      <div class="media-left">
        <a href="[[+site_url]]img/services/2-9/v.png">
          <img class="media-object" style="width: 40px; max-width: 40px;" alt="icon" src="img/services/2-9/v.png" />
        </a>
      </div>
      <div class="media-body">
        <p>Наши тренажеры разрабатывались с учетом всех фитнес-задач и требований, поэтому они подойдут самым различным целевым аудиториям: могут заниматься как дети, так и взрослые, как любители скалолазания, так и абсолютные новички! Скалодром - тренажер, который вызывает интерес, так как это нечто новое в формате фитнес-центров.</p>
      </div>
    </div>
  </div>
</div>














