﻿Данная страница содержит информацию, посвященную рассылке. Став пользователем сайта <strong>СК FormAT</strong> — производство и продажа скалодромов, а также скалолазного оборудования, получившим какие-либо материалы (презентации, книги), Вы даете своё согласие на осуществление e-mail рассылки с нашей стороны.

<p><strong>Как правило, мы не занимаемся рассылкой, но в ряде случаев она возможна:</strong></p>

<p>- если есть основания полагать, что донести какую-либо информацию, связанную со скалодромами, важно: это может быть как информативная статья, так и донесение информации, касательной скидок;</p>

<p>- если Вы заказывали материалы, то мы можем Вам выслать обновленные, то есть, расширенные варианты.</p>
Мы всегда стараемся донести как можно лучше и больше информации, поэтому материалы регулярно дорабатываются. У Вас должно быть четкое понимание и видение нашей продукции.

<p>С уважением, администрация сайта.</p>
