﻿<div class="well text-center"><strong>Узнайте, какие бывают <a href="vidyi-skalodromov">виды скалодромов</a>.</strong></div>

<img alt="Cкалолазный центр" src="IMAGES/mnogo ludei vozle skalodroma.jpg" title="Центр для скалолазания. Фото" class="leftimg" />
<p><strong>Скалолазание - популярное движение, которое зародилось в США и в Европе</strong>, постепенно приходящее к нам. Суть скалолазания заключается в том, что необходимо достигать тех или иных точек скалодрома – имитатора скального рельефа. Современные скалодромы, выполненные усилиями профессионалов, крайне точно воссоздают природный рельеф, что позволяет полностью окунуться в мир скалолазания, получая при этом огромное удовольствие. Помимо скалолазных панелей, скалодром подразумевает наличие скалолазных зацеп – именно они и создают цепь маршрутов и препятствий. Большие скалодромы и скалолазные центры, как правило, имеют огромное количество маршрутов: легкие и тяжелые, которые подходят как детям от 2-х лет, так и взрослым людям. Даже на самом маленьком скалодроме много маршрутов, идеология таких скалодромов подразумевает частое изменение маршрутов – перекрутка зацеп.</p>

<p><strong>Скалолазание – это Олимпийский вид спорта</strong>. Соревнования проводятся в таких дисциплинах: скалолазание на трудность, скорость и боулдеринг. Но соревнования можно наблюдать не только под эгидой Олимпийских игр, довольно таки часто соревнования организовывают большие скалолазные центры. Проводятся соревнования как в помещениях, так и под открытым небом.</p>

<p>Наша компания также имеет опыт в организации, проведении и в непосредственном участии! Отдельно хочется выделить скалолазание под открытым небом – оно собирает большое количество зрителей, что выплывает в восторженные взгляды, возгласы, фотографии! А фотографии – это бесплатная реклама организатору.</p>


<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BkSfuOLLYOY" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

<div class="clearfix"><strong>&nbsp;</strong></div>

<img alt="Скалолаз на скалодроме" src="IMAGES/paren na skalodrome.jpg" title="Спортсмен-скалолаз. Фото" class="rightimg" />
<p>Скалолазание также является обязательной частью учебной программы во многих европейских школах и ВУЗах. Если говорить про СНГ, то в некоторых школах, ВУЗах также можно наблюдать наличие скалодрома, где занимаются не только ученики, студенты, но и любители скалолазания, которые никакого прямого отношения к учебному заведению не имеют. Примером такого скалодрома является скалодром в ХАИ (Национальный аэрокосмический университет им. Н. Е. Жуковского).</p>

<p>Есть великое множество вариантов реализации скалодрома, с некоторыми Вы можете ознакомиться в <a href="works-gallery/">наших работах</a>. Но выделяют основные виды скалодромов – аттракцион, спортивный, мобильный. Такие скалодромы позволяют как укрепить физическую силу, так и полноценно заняться активным отдыхом со своими друзьями. Почему стоит прийти на скалодром? Развитие всех групп мышц, укрепление костей и суставов, улучшение моторики, развитие выносливости и силы духа, это весело и увлекательно, а также доступно. Почему стоит открыть скалодром? Это прибыльный бизнес, о чём Вы можете прочесть в данной <a href="pochemu-skalodrom/eto-pribyilnyij-biznes">рубрике</a>, где большая часть внимания уделена бизнесу.</p>

<p>У Вас есть вопросы, касательно скалодромов? Связывайтесь с нами. <a href="contacts">Контакты</a>.</p>
