﻿
<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OmMHqI4E34o" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

<div class="row">
  <div class="col-xs-8">
    <p><strong>Скалодромы</strong> - это соревновательные аттракционы. Но уникальность в том, что состязательность возможна в нескольких дисциплинах:</p>

    <div  class="indent-small">
    <ul>
      <li>сложность</li>
      <li>скорость</li>
      <li>ловкость</li>
      <li>логическое мышление</li>
      <li>умение решать неразрешимые задачи</li>
    </ul>
    </div>

    <p>Они дарят уникальное и неповторимое мгновенное избавление от стресса и повседневных проблем.</p>

    <p>О каких заботах можно говорить, когда во время лазания весь организм и вся мыслительная деятельность направлены на решение задачи - долезть до вершины, которую организм расценивает как гипер желание выжить любой ценой. Это реальный тренажер для преодоления страха высоты. Здесь уже нет места «не могу».</p>

    <p>Именно поэтому после занятий на скалодроме так легко вернуться в работу или повседневные заботы, когда расставлены приоритеты и жизнь начинаешь ценить превыше всего.</p>

    <p>Это непередаваемые ощущения покорения вершины.</p>

    <p>К тому же это очень крутые selfie и photo в социальных сетях.</p>

    <p>&nbsp;</p>

    <div class="well text-center"><strong>Узнайте, какие бывают <a href="vidyi-skalodromov">виды скалодромов</a>.</strong></div>

  </div>
  <div class="col-xs-4">
    <img alt="Маленький ребенок. Скалодром" src="IMAGES/skalodrom - eto ekstrim.jpg" title="Домашний скалодром для детей. Фото" />
  </div>
</div>

<div class="clearfix">&nbsp;</div>
