﻿<div class="well text-center"><strong>Узнайте, какие бывают <a href="vidyi-skalodromov">виды скалодромов</a>.</strong></div>

<img alt="Скалодром. Польза детям" class="rightimg" src="IMAGES/skalodrom polezen detyam.jpg" title="Детский скалодром. Фото" />
<p>Бытует мнение, что <strong>скалодром и скалолазание полезны детям</strong>. Многие врачи рекомендуют детям скалолазание для развития моторики тела, укрепления костей и суставов. В данной рубрике Вы узнаете, насколько <strong>полезен скалодром детям</strong> и почему его стоит купить.</p>

<p><strong>Скалодром </strong>– это имитатор скального рельефа, который сочетает в себе спорт и развлечение. Это здоровое и модное движение, которое пришло в СНГ из США и Европы, где скалолазание давно развито. Спортивная часть заключается в развитии всех мышечных групп ребенка, чем могут похвастаться далеко не все тренажёры. Помимо развития мышц, происходит укрепление костей, суставов, о которых было сказано выше. Когда ребенок занимается на скалодроме, происходит одновременное взаимодействие всех составляющих тела, что позволяет гармонично и полноценно развиваться. Скалодром – это также и улучшение выносливости, повышение самооценки и веры в свои силы. Скалодром – это тренажёр, который дарит массу позитивных эмоций и впечатлений.</p>

<p>Мы, как владельцы сети скалодромов, совершенно точно знаем, как дети реагируют на достижение поставленных задач в наших клубах. Что может быть лучше, чем детское: “Ура! Я смог”? Компании CK <strong>FormAT</strong> приятно осознавать, что детям нравится скалолазание, и они приходят к нам вновь и вновь. Интерес не пропадает, потому что мы постоянно обновляем наши трассы, составляем новые маршруты. Скалодром сочетает в себе сложные, легкие трассы. Постепенно можно переходить от самых простых к сложным, расширяя поток эмоций, впечатлений и незабываемых чувств.</p>

<p>Причин любить скалодром много, но, как нам кажется, в отношении детей большую роль играет именно мотивация. Очень приятно знать, что у тебя получилось и что всё зависит исключительно от усилий, которые были приложены. Добиваясь всё новых и новых высот, ребенок начинает всё больше верить в себя, а это важно. Каждый родитель хочет видеть счастливого и жизнерадостного ребенка, который полон амбиций и мечтаний. Скалодром – прекрасное средство для достижения этой цели. Пускай Ваши дети и дети в целом верят в себя.</p>

<p>Все мы знаем, как дети любят соревноваться, утверждаться. Скалолазная стенка – это также и соревновательный тренажёр, дети могут соревноваться в различных скалолазных дисциплинах, играть в различные игры, популярность набрало такое понятие как “настенный Твистер”. Игра, которую любят массы, приобрела новый вид, сохранив свои лучшие традиции. Можно соревноваться в скорости, дальности прохождения и времени, проведенном на скалодроме. Вариантов достаточно много, и каждый найдет то, что ему по вкусу.</p>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v8bb9Wo4SL0" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

<p><strong>Скалодром</strong> – это полностью безопасно, дети от 2-х лет могут на нём заниматься. В наших скалодромах используется исключительно сертифицированное страховочное оборудование, благодаря которому Вы можете быть спокойны за безопасность и сохранность детей! Дети – большие любители лазить по деревьям, гаражам, стройкам и прочим местам, которые несут опасность. Почему бы не сделать лазание абсолютно безопасным? Делайте выбор в пользу скалодрома!</p>

<p><strong>Хотите больше узнать о пользе скалолазания детям</strong>? Связывайтесь с нами. <a href="contacts">Контакты</a>.</p>
