 class="rightimg"
<strong>СК FormAT</strong>
<!-- check list -->
  <ul class="number">
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/3-9/v.gif" />
      <p></p>
    </li>
  </ul>
<!-- check list -->


<!-- col-3 images -->
  <div class="row">
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="ico" src="IMAGES" />
        <p></p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="ico" src="IMAGES" />
        <p></p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="ico" src="IMAGES" />
        <p></p>
      </div>
    </div>
  </div>
<!-- col-3 images -->



<!-- embed video -->
  <p>&nbsp;</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZXiRn23_SfQ" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->


<div class="clearfix">&nbsp;</div>


<blockquote>
  <p>Lorem ipsum</p>
  <footer>Someone <cite title="Source Title">Title</cite></footer>
</blockquote>
