﻿<p><img alt="Аттракцион Скалодром в ТРЦ" class="rightimg" src="IMAGES/skalodrom dlya detei v TRC.jpg" title="Скалодром - якорный объект для ТРЦ. Фото" />

<p>ГДЕ СЕЙЧАС активно используют Скалодром - в ТРЦ</p>

<p>Прочитайте мнение сотрудников ТРЦ о размещении скалодрома:</p>

<blockquote>
  <p>Скалодром отлично вписался в место, которое раньше даже не планировали сдавать в аренду, это дополнительная прибыль, новый поток посетителей, пропаганда здорового образа жизни и к тому же новая рекламная площадка</p>
  <footer>Людмила, <cite title="Source Title">руководитель отдела аренды ТРЦ Караван</cite></footer>
</blockquote>
<blockquote>
  <p>Скалодром дополняет наш имидж. Это направленность на активный отдых, здоровье и полезные развлечения</p>
  <footer>Алексей, <cite title="Source Title">Французский бульвар</cite></footer>
</blockquote>
<blockquote>
  <p>Скалодром - это здорово</p>
  <footer>Андрей, <cite title="Source Title">Парк Горького</cite></footer>
</blockquote>


<p>Благодаря особенностям строения ТРЦ: высокие пролеты, пустующие пространства вокруг лифтов, эскалаторов, катков, роллердромов, Вы можете разместить Скалодром с оптимальной ценой за аренду</p>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D7R1tITbSjo" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->


<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в торгово-развлекательном центре" src="IMAGES/skalodrom dlya TRC.jpg" title="Скалодром для ТРЦ. Фото" />
                <p>Торгово-развлекательные центры</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в развлекательном комплексе" src="IMAGES/skalodrom dlya razvlekatelnogo kompleksa.jpg" title="Скалодром для развлекательного комплекса. Для детей и взрослых. Фото" />
                <p>Развлекательные комплексы</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в парке" src="IMAGES/skalodrom dlya parka.jpg" title="Мобильный скалодром в парке им. Горького. Фото" />
                <p>Парки</p>
              </div>
            </div>
          </div>
<!-- col-3 images -->


<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для гостиницы" src="IMAGES/skalodrom dlya bazu otduxa.jpg" title="Скалодром, размещенный в гостинице. Фото" />
                <p>Базы отдыха, гостиницы, ресторанные комплексы</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в детском лагере" src="IMAGES/skalodrom dlya detskogo lagerya.jpg" title="Скалодром в детском лагере - отличное развлечение и спорт. Фото" />
                <p>Детские лагеря</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в курортной зоне" src="IMAGES/skalodrom dlya plyaja.jpg" title="Скалодром для курортов. Фото" />
                <p>Пляжи, бассейны, зоны рекреации и курорты</p>
              </div>
            </div>
          </div>
<!-- col-3 images -->


<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для квартиры" src="IMAGES/skalodrom dlya doma.jpg" title="Компактный скалодром у себя дома. Фото" />
                <p>Квартиры, дома, дачи, жилые комплексы</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в детском развлекательном центре" src="IMAGES/skalodrom dlya batytnogo centra.jpg" title="Скалодром для детей от 2-х лет. Фото" />
                <p>Детские развлекательные центры, батутные комплексы</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в аквапарке" src="IMAGES/skalodrom dlya basseina.jpg" title="Водный скалодром в аквапарке. Фото" />
                <p>Бассейны, аквапарки, дельфинарии</p>
              </div>
            </div>
          </div>
<!-- col-3 images -->

