﻿<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>дополнительный доход: прибыль с неликвидных площадей (пролеты вокруг лифтовых шахт, эскалаторов, пандусов и пр.)</p>

<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>скалодром как дополнительная рекламная площадка</p>

<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>скалодром - трафикообразующий объект: позиционирование и пропаганда спортивного и здорового образа жизни; скалодромы работают со школами, детскими садами, и эти клиенты притянутся на объект</p>

<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>организация тематических мастер-классов и выставок по туризму, альпинизму и скалолазанию</p>

<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />широкий
<p>охват аудитории: от 2-х до 100-а лет</p>

<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>скалодром может стать визитной карточкой для любого трц, парка или базы отдыха</p>


<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zQySZbIMYQ4" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
