﻿

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zTSkmWeP5SY" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->


<p><img alt="Аттракцион-скалодром" class="rightimg" src="IMAGES/atrakcion skalodrom dlya detei.jpg" title="Развлекательный скалодром. Фото" />
</p>

<h5>Быстрый старт и быстрые деньги</h5>

<p>- монтаж и установка от 1 дня<br />
- окупаемость (ROI) за 3-6 месяцев<br />
- стоимость от 1 032 у.е. до 161 290 у.е.<br />
- занимает мало места + станет там, где больше ничего не станет = низкая арендная плата<br />
- минимальная коммуналка (только свет для рекламы)<br />
- высокая пропускная способность<br />
- нечему ломаться или портиться</p>

<h5>Масштабируемость</h5>

<p>- стандартные бизнес-процессы (Менеджмент и Маркетинг)<br />
- существует множество мест, где Вы можете установить скалодром<br />
- не требуется высококвалифицированный персонал<br />
- быстрое обучение<br />
- минимум сотрудников<br />
- мобильность</p>

<h5>Безопасность</h5>

<p>- сертифицированное страховочное оборудование<br />
- двойная система страховки<br />
- безопасное размещение всех узлов скалодрома<br />
- каждый скалодром тестируется профессиональными&nbsp;спортсменами и специалистами</p>

<p><img alt="Скалодром для развлечения" class="rightimg" src="IMAGES/atrakcion skalodrom dlya vzrosluh.jpg" title="Аттракцион Скалодром для развлечения и активного отдыха. Фото" /></p>
<h5>Перспективность и полезность</h5>

<p>- ниша занята всего на 10%<br />
- высокая динамика развития, так как это ново,<br />
модно и стильно - это не интернет или игры, здесь все по-настоящему<br />
- всемирный тренд активного отдыха и здорового<br />
образа жизни, каждый 10-й в Европе пробовал скалолазание - олимпийский вид спорта<br />
- кто в детстве не любил лазать и искать приключения?!<br />
Теперь это безопасно!</p>

<h5>Эмоции</h5>

<p>- восторг от покорения вершины, это полезно и здорово<br />
- где еще так можно повыпендриваться?<br />
- счастливые родители, весёлые друзья<br />
- возможность преодолеть свои страхи<br />
- будет что показать в соц. сетях друзьям и<br />
родственникам</p>
