﻿<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OmMHqI4E34o" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

<p><img alt="alt" class="rightimg" src="img/services/3-2-5/ph1.png" /></p>

<blockquote>
  <p>У вас классно. Мой ребенок идет как на праздник, Завтра, похоже, снова будем!</p>
  <footer>Элита, <cite title="Source Title">мама</cite></footer>
</blockquote>

<blockquote>
  <p>Большое спасибо за болдертест! Отличная квалификация и очень интересные и зрелищные финалы!</p>
  <footer>Никита, <cite title="Source Title">15 лет</cite></footer>
</blockquote>

<blockquote>
  <p>Первый раз в жизни что-то сложное пролезла :) Не думала, что получится, УРА!!!</p>
  <footer>Panda<cite title="Source Title"></cite></footer>
</blockquote>

<blockquote>
  <p>Все очень понравилось. Даже когда что-то не очень получается, так важно чувствовать рядом поддержку. Это было так! Море приятных впечатлений и позитива! Так держать, молодцы!</p>
  <footer>Абрамова Юлия, <cite title="Source Title">студентка</cite></footer>
</blockquote>

<span class="clearfix"></span>
