﻿<p><img alt="alt" src="img/services/3-2-6/img1.png" /></p>

<h2>Сравнение (аттракционы)</h2>

<!-- col-3 images -->
    <div class="row">
      <div class="col-sm-4">
        <h4>Каток</h4>
        <ul class="list-unstyled">
          <li>- инвестиции в разы больше;</li>
          <li>- очень дорогая эксплуатация и аренда;</li>
          <li>- что если здесь не пошло?;</li>
          <li>- Вы когда-либо слышали о переносе катка?;</li>
          <li>- окупаемость в годах, а не месяцах;</li>
          <li>- высокая конкуренция.</li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>3-,5-,7-, ...D кинотеатры</h4>
        <ul class="list-unstyled">
          <li>- рынок насыщен;</li>
          <li>- принципиально ничего нового;</li>
          <li>- постоянные проблемы с проводкой и запчастями;</li>
          <li>- дорогие фильмы и расходники - это constanta;</li>
          <li>- что-то новое = купить новый аттракцион.</li>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Игровые автоматы</h4>
        <ul class="list-unstyled">
          <li>- рынок насыщен;</li>
          <li>- такое как у всех;</li>
          <li>- у большинства есть планшет или компьютер.</li>
        </ul>
      </div>
    </div>
<!-- col-3 images -->


<div class="clearfix">&nbsp;</div>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4V-2npAE-5g" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
