﻿<img alt="Скалодром-башня" src="IMAGES/skalodrom bashnya.jpg" title="Скалодром в виде башни. Фото" class="rightimg" />

<p>Зачастую скалодромы изготавливаются в виде башни со скалолазными поверхностями на <a href="[[++site_url]]works-gallery/attrakczionyi-bashni">360 градусов</a>. Их основное преимущество - <strong>полностью автономные конструкции</strong>, не нужны какие-либо опорные объекты (здания, стены), поскольку конструкция является самоопирающейся и крепится к уличному фундаменту либо бетонному полу в здании/помещении. Расположить башню можно практически где угодно. Башни могут иметь любую высоту, форму и размеры. В больших скалодромах-башнях, высота которых <strong>не менее 12 метров</strong>, внутри конструкции предусматриваются внутренние лестницы и верхние платформы для обслуживания и технического обследования.</p>

<span class="clearfix"></span>
