﻿<p>Существует несколько разных способов классификации скалодромов: по спортивным направлениям, по высоте и способу страховки, по типу скалолазных панелей, по назначению.</p>

<h4>По высоте и способу страховки скалодромы бывают:</h4>

<p>Высокие скалодромы (от 6 метров), в спорте они же скалодромы "на сложность" или скалодромы "на трудность" - предназначены для лазания <a href="[[++site_url]]texnologii/sistema-bezopasnosti">с нижней и верхней веревочными страховками</a> в спорте, а для развлекательных скалодромов применяется верхняя либо автоматическая страховка.</p>

<p>Боулдеринговые скалодромы (до 4-5 метров) - предназначены для лазания коротких сложных трасс. В качестве страховки используются <a href="[[++site_url]]texnologii/sportivnyie-matyi-dlya-skalodromov">толстые маты</a> из расчета на 1 м высоты скалодрома 10 см толщины матов.</p>

<!-- embed video -->
  <p>&nbsp;</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zTSkmWeP5SY" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->


<h4><a href="[[++site_url]]texnologii/paneli-dlya-skalodroma">По типу скалолазных панелей</a> скалодромы бывают:</h4>

<ul>
  <li><a href="[[++site_url]]texnologii/osobennosti-skalolaznyix-panelej">из фанеры</a></li>
  <li>из стеклопластика (с имитацией скального рельефа)</li>
  <li>из поликарбоната (прозрачные)</li>
</ul>

<h4><a href="[[++site_url]]kuda-i-dlya-kogo">По назначению</a> скалодромы бывают:</h4>


<!-- col-3 images -->
  <div class="row">
    <div class="col-sm-6">
      <div class="link-block indent-regular">
        <img alt="Спортивный скалодром" src="IMAGES/sport skalodrom.jpg" title="Скалодром для спортклуба. Фото" />
        <p><strong><a href="[[++site_url]]vidyi-skalodromov/sportivnui-skalodrom">спортивные</a></strong> (боулдеринг, "на трудность", "на скорость")</p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="link-block indent-regular">
        <img alt="Скалодром-аттракцион" src="IMAGES/skalodrom = razvlechenie.jpg" title="Скалодром для развлечения и отдыха. Фото" />
        <p><strong><a href="[[++site_url]]vidyi-skalodromov/razvlekatelnii-skalodrom-skalodrom-attrakcion">развлекательные</a></strong> (аттракционы-скалодромы, скалопарки)</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="link-block indent-regular">
        <img alt="Центр для скалолазания" src="IMAGES/skalolaznui klyb.jpg" title="Скалолазный центр. Фото" />
        <p><strong>смешанные</strong></p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="link-block indent-regular">
        <img alt="Домашний мини-скалодром" src="IMAGES/skalodrom v vasem dome!.jpg" title="Альтернатива шведской стенки для дома. Фото" />
        <p><strong><a href="[[++site_url]]vidyi-skalodromov/skalodrom-doma-domashnii-skalodrom">домашние</a></strong></p>
      </div>
    </div>
  </div>
<!-- col-3 images -->

<h4>По размещению:</h4>

<!-- col-3 images -->
  <div class="row">
    <div class="col-sm-6">
      <div class="link-block indent-regular">
        <img alt="Скалодром в помещении. Фото" src="IMAGES/skalodrom v pomeshenii.jpg" title="Скалодром для помещения" />
        <p><strong><a href="[[++site_url]]works-gallery/xarkov">скалодромы в помещении</a></strong></p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="link-block indent-regular">
        <img alt="Скалодром для улицы. Фото" src="IMAGES/skalodrom ylichnui!.jpg" title="Уличный скалодром для любителей и спортсменов" />
        <p><strong><a href="[[++site_url]]works-gallery/attrakczion-pko-gorkogo">уличные скалодромы</a></strong></p>
      </div>
    </div>
  </div>
<!-- col-3 images -->


<div class="well text-center">
  <h5><a href="[[++site_url]]vidyi-skalodromov/sportivnui-skalodrom/vidyi-sportivnyix">Узнайте, какие бывают скалодромы по спортивным направлениям</a></h5>
</div>

