﻿<div class="well text-center"><strong>Узнайте, какие бывают <a href="vidyi-skalodromov">виды скалодромов</a>.</strong></div>

<p>Всероссийский научно-исследовательский институт сертификации постановил, что наша продукция, то есть скалодром и скалолазное оборудование, не включена в Единый перечь продукции, что подлежит обязательному получению сертификата. Также продукция не была включена в Единый перечень продукции, которая подлежит обязательному подтверждению соответствия в рамках Таможенного союза.</p>

<p>* Согласно письму Всероссийского научно-исследовательского института сертификации</p>

<p>Но по запросу клиентов мы предоставляем все существующие сертификаты <a href="[[++site_url]]texnologii/sistema-bezopasnosti">на страховочное оборудование</a>, поскольку используем только сертифицированные продукты.</p>

<p>При разработке проектной документации <a href="[[++site_url]]texnologii/paneli-dlya-skalodroma">на металлокаркас</a> скалодрома с обязательной расчетной частью в виде проекта КМ или КМД, которые соответствуют Строительным нормам и правилам (СНиП) и учитывает все требования СП 31-115-2008 (наш аналог европейского стандарта EN 12572), мы предоставляем сертификаты СРО, необходимые для данных видов работ.</p>

<p class="text-center"><img alt="Сертификаты на скалодром" src="IMAGES/sertifikatu na skalodromu.jpg" title="Сертифицированные скалолазные материалы. Фото" /></p>

<p>На скалодромы сертификаты не требуются, поскольку это строительная конструкция по примеру мебели. При этом сертификации подлежат материалы, из которых сделан сам скалодром (металл, <a href="[[++site_url]]texnologii/osobennosti-skalolaznyix-panelej">фанера</a>, крепежи и пр.). И по запросу клиентов мы предоставляем такие сертификаты <a href="[[++site_url]]texnologii/snaryazhenie-dlya-skalodroma,-oborydovanie-dlya-skalodroma">на комплектующие</a>. Как и на страховочное оборудование.</p>

<p class="text-center"><img alt="Документы на скалодром" src="IMAGES/dokymentu na skalodrom.jpg" title="Документы для скалодрома. Фото" /></p>

