﻿<p><strong>Узнайте, какие бывают <a href="vidyi-skalodromov">виды скалодромов</a>.</strong></p>

<p><strong>Скалодром</strong> - это тренажер в виде стены со съёмными искусственными камнями различной величины и формы, которые имитируют скалу. Скалодром предназначен для развития всех групп мышц, а также сухожилий, связок и суставов, для координации и силовой тренировки, является незаменимым тренажером. К тому же, скалолазание - это Олимпийский вид спорта.</p>

<p>В США и Европе уже куплено более 1 млн кв.м. скалолазных тренажеров.</p>

<img alt="Девушка на скалодроме" src="IMAGES/skalodrom - eto kryto!.jpg" title="Прописанные упражнения для скалодрома. Фото" class="rightimg" />

<p><strong>Скалолазание</strong> - это Олимпийский вид спорта на искусственных тренажерах, имитирующих природные скалы. Это безопасный экстремальный тренажер, который тренирует именно те группы мышц, которые в тренажерных залах очень нужны, но стандартные тренажеры не дают этого.</p>

<p>Есть несколько видов скалолазных тренажеров: это и стенки <a href="[[++site_url]]vidyi-skalodromov/skalodrom-dlya-fitnesa/vasha-vyisota-potolkov">высотой от 3 м</a> с вмонтированными камнями: как вертикальные, так и с нависанием и разными углами наклона, это и отдельный настенный тренажер <a href="[[++site_url]]nashi-uslugi/obuchenie-i-sistema-trenirovok">с прописанными упражнениями</a>, это и самый простой полуметровый тренажер для тренировки пальцев и сухожилий.</p>

<div class="clearfix">&nbsp;</div>

<!-- embed video -->
  <p>&nbsp;</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BkSfuOLLYOY" frameborder="0" allowfullscreen></iframe>
  </div>
<!-- embed video -->
