﻿
<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i-QmUdfM-OE" frameborder="0" allowfullscreen></iframe>
          </div>
<!-- embed video -->

<h2>Фитнес-скалолазание. Скалодром для фитнес-клуба</h2>

          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="ico" src="img/infoicon/infoicon-quickdraw.png" />
                <p>скалолазный тренажер — профессиональное спортивное оборудование, которое было специально разработано для фитнес-клубов, центров</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="ico" src="img/infoicon/infoicon-climbing2.png" />
                <p>скалолазанием занимается каждый 10-й человек в большинстве Европейских стран, оно востребовано</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="ico" src="img/infoicon/infoicon-baks2.png" />
                <p>скалодром <a href="[[++site_url]]vidyi-skalodromov/skalodrom-dlya-fitnesa/mesto-est-vsegda">не занимает места</a>, станет там, где не станут другие тренажеры. При этом приносит прибыль!</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="ico" src="img/infoicon/infoicon-climbing3.png" />
                <p>новое течение в Вашем фитнес-центре — экстрим </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="ico" src="img/infoicon/infoicon-climbing-top.png" />
                <p>в самом начале гораздо больше шансов стать #1 или же остаться первым
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="ico" src="img/infoicon/infoicon-coins.png" />
                <p>бюджет от 1350 $</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="ico" src="img/infoicon/infoicon-mesure.png" />
                <p><a href="[[++site_url]]/vidyi-skalodromov/skalodrom-dlya-fitnesa/vasha-vyisota-potolkov">высота потолков</a>, необходимая для установки скалодрома, от 3 м.</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="ico" src="img/infoicon/infoicon-colors.png" />
                <p>индивидуальный и неповторимый дизайн</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="ico" src="img/infoicon/infoicon-builder.png" />
                <p>отстройка от конкурентов, обойдите конкурентов, станьте лучше, чем они</p>
              </div>
            </div>
          </div>
