﻿

          <img alt="Спортивный скалодром" class="leftimg" src="IMAGES/sportivnui skalodrom.jpg" title="Скалодром для спорта. Фото" />

          <p> <strong><a href="poleznyie-materialyi/vse-o-skalolazanii-i-skalodromax">Скалолазание (wallclimbing)</a></strong>
            - популярная и динамично развивающиеся разновидность спорта XXI века. Данная разновидность спорта предназначена для разных целевых групп: подходит как детям, так и взрослым. Существуют даже скалодромы для реабилитационных центров, для инвалидов. Стоит отметить, скалолазание входит в ученическую программу большого количества европейских стран. Все эти факторы совершенно точно указывают на то, что лазание по искусственному рельефу находится на востребованном уровне. Занимательный факт: каждый 10-й человек в европейской части мира знаком с лазанием по скалодрому. Лазание на искусственном рельефе является частью Olympic Games (Олимпийские игры), а конкретно скоростная дисциплина, в которой нужно как можно быстрее преодолеть маршрут.
          </p>
          <div class="clearfix"></div>

<!-- строки захвата #1 -->
          <div class="row indent-big">
            <div class="col-xs-6">
              <a href="poleznyie-materialyi/books-download/prajs-na-sportivnyie-skalodromyi" class="link-block">
                <img src="/IMAGES/rezcrop/min172_sportivnui skalodrom kypit_pr.png" alt="Прайс на спортивные скалодромы" title="Прайс на спортивные скалодромы" />
                <h5>СКАЧАТЬ прайс на спортивные скалодромы</h5>
              </a>
            </div>
            <div class="col-xs-6">
              <a href="poleznyie-materialyi/books-download/prezentacziya-sportivnyix-skalodromov" class="link-block">
                <img src="/IMAGES/rezcrop/min172_sportivnui skalodrom kypit, skalodrom pod kluch.png" alt="Презентация спортивных скалодромов" title="Презентация спортивных скалодромов" />
                <h5>СКАЧАТЬ презентацию спортивных скалодромов</h5>
              </a>
            </div>
          </div>
<!-- строки захвата #1 -->

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I3wWXUc2pbk" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
          <h2>Спортивное скалолазание</h2>

          <p>
            Мировой тренд ЗОЖ и активного образа жизни, набирающего все новые и новые обороты. С каждым годом становится все больше спортивных комплексов для скалолазания. Это касается даже маленьких регионов.
            <span class="color_blue">
              Дисциплины спортивного скалолазания: лазание на сложность, боулдеринг, скоростное лазание (дисциплина "speed" входит в Олимпийские игры).
            </span>
          </p>

          <div class="row indent-big">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром на сложность. Фото" src="IMAGES/skalodrom na trydnost.jpg" title="Скалодром на трудность" />
                <h5>LEAD (скалолазание на сложность)</h5>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для занятия боулдерингом. Фото" src="IMAGES/bouldering skalodrom.jpg" title="Боулдеринг-скалодром" />
                <h5>Скалодром-боулдеринг</h5>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалолазание на скорость. Изображение" src="IMAGES/skalodrom na skorost.jpg" title="Скалодром на скорость" />
                <h5>Speed (скалолазание на скорость)</h5>
              </div>
            </div>
          </div>

          <p>
            В зависимости от возможности перемещения, транспортировки, скалодромы делят на стационарные и мобильные. Мобильный скалодром легко перемещаем.
          </p>

          <div class="row indent-big">
            <div class="col-sm-4">
              <div class="link-block">
                <img src="IMAGES/11.jpg" alt="Мобильный скалодром, легкий в перемещении. Фото" title="Мобильный скалодром для спорта и активного отдыха" />
                <h5>Мобильный скалодром</h5>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img src="IMAGES/stacionarnui skalodrom.jpg" title="Скалодром стационарный" alt="Стационарный скалодром. Фото"/>
                <h5>Стационарный скалодром</h5>
              </div>
            </div>
          </div>

