﻿          <p>
            <img src="IMAGES/systemboard.jpg"  alt="Системборд для скалолазания" title="Systemboard для скалолазания. Фото" />
          </p>

          <p><strong>Системборд</strong> - популярный скалолазный тренажер, который является одним из самых компактных в сфере скалолазания. Такие тренажеры можно часто встретить в скалолазных комплексах, они используются для разминки. Перед тем, как начать лазание по скалодрому, <strong>РАЗМИНКА ОБЯЗАТЕЛЬНА!</strong> Если же отсутствует дополнительный скалолазный тренажер, то достаточно сделать стандартные физические упражнения: отжимания, подтягивания, приседания. Данный тренажер - вертикальный стенд с нависанием, который предназначен для силовой тренировки, все нагрузки концентрируются на цепи мышц: от ног до кончиков пальцев рук.</p>

          <p><strong>Системборд (скалолазная стенка)</strong>
          часто можно встретить не только в скалолазных клубах, но и в фитнес-центрах, спортивных клубах, которые по сути никакого прямого отношения к скалолазанию не имеют. Данные тренажеры <u>приобретаются в виду невысокой стоимости, быстрой окупаемости, а также универсальности в спортивной сфере</u>
          . В чём универсальность, спросите Вы? Скалолазный тренажер задействует одновременно все мышечные группы, что очень удобно для посетителей и постоянных клиентов Вашего заведения. Также это нечто новое в формате фитнес и спортивных клубов. Многие люди с радостью пробуют на себе функциональный тренинг, так как привычные силовые упражнения въелись, стали чем-то обыденным, а ведь людям постоянно хочется пробовать что-то новое для себя. Почему бы не предоставить им такую возможность?
          <strong>Цена на такой скалодром начинается от 25 у.е.</strong></p>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fl2VSP7Nk4k" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->


          <p>Хотите подробнее узнать о системборде? Связывайтесь с нами!<a href="[[++site_url]]contacts">Контакты</a>.</p>

