﻿          <p>Изначально свободное скалолазание над водой (Deep Water Solo) появилось как лазание по естественному рельефу (скалам) над водой (как правило, морем). Это более безопасный вид свободного скалолазания Free Solo, при котором не применяется <a href="[[++site_url]]texnologii/sistema-bezopasnosti">страховка</a></p>

          <p>
            <img src="IMAGES/skalodrom nad basseinom.jpg" alt="Скалодромы для бассейнов" title="Скалодром над водой. Скалолазание над бассейном. Фото" />
          </p>

          <h2>Скалодромы над бассейном. Водные скалодромы</h2>

          <p>Впервые скалодромы над бассейном появились во время соревнований и на сегодняшний день они считаются одним из самых зрелищных видов<a href="[[++site_url]]vidyi-skalodromov/sportivnui-skalodrom">спортивного скалолазания</a>. К примеру, одни из самых популярных в США соревнований по скалолазанию Psicoblock Masters Series в Юте, где ежегодно независимо от погодных условий собираются тысячи лучших скалолазов, проводятся соревнования на скалодроме высотой 15 м. без какой-либо страховки, кроме бассейна! Это одни из наиболее успешных соревнований по скалолазанию в Америке, на которые собираются тысячи зрителей и спортсменов.</p>

          <p>Данный вид скалодромов применяется как для специальных <a href="[[++site_url]]works-gallery/mobilnyij-skalodrom-6-2-5-m">соревнованиях над водой/бассейном</a>, так и для развлечений. Скалодром устанавливается у бортика бассейна. Посетители бассейна лезут по скалодрому и падают в воду. Данная практика заимствована у набирающего популярность вида скалолазания, где скалолазы лезут по скале над морем без страховки и прыгают в воду, достигая вершины.</p>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-T7jXbcDyQw" frameborder="0" allowfullscreen></iframe>
          </div>
<!-- embed video -->

          <p>Несмотря на то, что скалодром над бассейном был придуман как отдельный вид спорта, на сегодняшний день водные скалодромы применяются как <a href="[[++site_url]]vidyi-skalodromov/skalodrom-doma-domashnii-skalodrom">в частных домах</a>, так и на базах отдыха, в гостиницах и просто <a href="[[++site_url]]kuda-i-dlya-kogo/razvlekatelnyie-skalodromyi-razmeshhayut">в развлекательных мероприятиях</a>. Посетители бассейна передвигаются&nbsp;по скалодрому, а затем&nbsp;падают в воду.</p>

          <p>Взрослые и дети обожают плавать, но что делать, если просто плавать вдоль бассейна скучно, а горки и трамплины порядком надоели? Выход есть! Водный скалодром не даст заскучать ни одному ребенку, да и взрослым будет интересен.</p>

          <p>
            <img src="IMAGES/vodnui skalodrom.jpg"  alt="Прозрачная панель. Скалодром" title="Прозрачная панель для водного скалодрома. Фото" />
          </p>

          <p>Водный скалодром дает возможность человеку совместить два любимых занятия детства - плавание и лазание. Вы предоставляете детям прекрасную возможность заняться скалолазанием прямо над бассейном, разместив водный скалодром. Главное преимущество состоит в том, что ребенку не нужно какое-либо страховочное оборудование, а также партнер для страховки. Достаточно добраться до желаемой точки (вершины) и благополучно спрыгнуть с нее. Скалолазание над водой - большое удовольствие!</p>

          <p>Обычно водные скалодромы устанавливают рядом с бассейном, глубина которого составляет не меньше 2-х метров. Это может быть как частный бассейн, так и бассейн на базе отдыха, в аквапарке,<a href="[[++site_url]]vidyi-skalodromov/skalodrom-dlya-fitnesa">фитнес-центре</a>, зоне аква-отдыха.</p>

          <p>
            <img src="IMAGES/skalolazanie nad vodoi.jpg" alt="Скалодром для соревнований" title="Скалодром над бассейном - место для проведения соревнований. Фото" />
          </p>

          <p>С целью долговечности такие скалодромы собирают из <a href="[[++site_url]]texnologii/paneli-dlya-skalodroma">водостойких материалов</a> (ламинированной или водостойкой фанеры, пластика, прозрачного поликарбоната). Для бассейнов на открытом воздухе скалодромы делают <a href="[[++site_url]]vidyi-skalodromov/mobilnui-skalodrom">мобильными</a>, чтобы в холодный период можно было легко сложить в небольшом складе до следующего сезона.</p>

          <p>Водный скалодром – это уникальное решение, созданное для детей и взрослых, а также спортсменов-скалолазов. Водное скалолазание – отличное решение при организации развлечений и праздников.</p>
