﻿
<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I3wWXUc2pbk" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

          <p>
            <img class="rightimg" src="IMAGES/travers.jpg" alt="Траверсное лазание. Скалодром" title="Траверсная стена для скалолазания. Скалолазание для детей. Фото" />
          </p>


          <p>
            Траверсные стены - низкие до 3 м. вертикальные строения, которые позволяют передвигаться горизонтально на небольшой дистанции от пола.
          </p>

          <p>
            Этот вид скалолазных тренажеров применяется для обучения первоначальным навыкам скалолазания. Также траверсные стены используют для разминки. Такой скалодром - отличное дополнение к
            <a href="[[++site_url]]vidyi-skalodromov/sportivnui-skalodrom">спортивному</a>
            или же к развлекательному скалодрому. Страховка осуществляется при помощи
            <a href="[[++site_url]]texnologii/sportivnyie-matyi-dlya-skalodromov">спортивных матов, так званых, крэш-падов</a>
            и гимнастической страховки.
          </p>

          <p>
            Траверсные стены можно установить вдоль одной стены, а можно и на две стены в виде угла.
          </p>

          <p>
            Траверсы - это веселая тренировка, которая так полюбилась детям! Изначально может показаться, что траверс - это ограниченные упражнения, но это не так. Есть множество игровых элементов, помогающих разнообразить траверсы. Можно менять направление траверса, используя одну и ту же стену. Также можно менять порядок зацеп, которые используются. Возможно и добавление ограничений. Например, можно лазать с использованием строго трех или четырёх пальцев на каждой руке, без ног, вдогонку друг за другом и т.д.
          </p>

          <p>Траверсные стены подходят как для дома, так и для улицы!</p>

          <div class="clearfix"></div>

          <img class="rightimg" src="IMAGES/traversnaya stena.jpg" alt="Траверс для детей" title="Траверсная стена для скалолазания. Фото" />
          <p>Классическое скалолазание - это лазание вверх, но и траверсное лазание набирает свой вес. Детям такое скалолазание подходит больше, чем классическое. Да и многие родители чувствуют себя гораздо спокойнее, когда значительной высоты по сути нет. Траверсные стены подходят детям от 2-х лет.
          </p>
          <div class="clearfix"></div>


