﻿<div class="well">
<ul class="number">
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>доставка в любую точку</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>быстрый монтаж (от нескольких минут до нескольких часов в зависимости от вида скалодрома)</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>установка в любом месте</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>широкий выбор конфигураций</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>компактность в разобранном виде для хранения в небольшом складе</p>
  </li>
</ul>
</div>
<p>Мобильные скалодромы оснащены страховочными системами, зацепами и всем необходимым вспомогательным оборудованием.</p>

<p>Это удачное вложение денег. К тому же, это самый быстро окупаемый проект. В нашей практике есть возврат инвестиций с 4-х заказов на корпоративном мероприятии.</p>

<div class="clearfix">&nbsp;</div>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fl2VSP7Nk4k" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->


<p>Мобильные скалодромы могут использоваться как для развлечений, так и для спортивных мероприятий: как для боулдеринга (высота до 4-5 м.), так и для трудности (высота от 5-6 м.).</p>

<p>Скалодром, помимо своего функционального назначения, является самостоятельным рекламным носителем. Поэтому мы предлагаем клиентам такую услугу как нанесение логотипа или тематического рисунка как на поверхность мобильного скалодрома, так и предусматриваем возможность крепить огромные баннера-растяжки.</p>

<p>Размеры и конфигурация мобильных скалодромов от компании <strong>FormAT</strong> могут быть любыми.</p>

<p>Как правило, мобильные скалодромы представлены в виде башен на трейлере (прицепе) или в виде сборно-разборных конструкций. В связи с дешевизной сборно-разборные скалодромы пользуются большей популярностью. Они устанавливаются на ровных площадках от нескольких квадратных метров. С целью устойчивости в любую погоду и для того, чтобы скалодром выдерживал нагрузки одновременно лезущих скалолазов, используются грузы в виде бетонных блоков, мешки с песком или емкости с водой. Металлокаркас такого скалодрома представляет собой объемную пространственную конструкцию, собранную из отдельных элементов.</p>

<p>Сроки монтажа мобильного скалодрома могут сильно отличаться в зависимости от его вида, сложности рельефа и размеров. Простую вертикальную стенку для скалолазания высотой до 6 м., шириной 2,5-3 м. можно полностью собрать за несколько часов. На конструкцию для спортивного скалодрома может понадобиться 1 день.</p>

<p>Разборка происходит в 2-3 раза быстрее.</p>
