﻿<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i-QmUdfM-OE" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->


  <div class="row">
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалодром для фитнеса" src="IMAGES/skalodrom v fitnes centre.jpg" title="Fitness скалодром. Фото" />
        <h5>от 2,5 до 3 м</h5>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Fitness скалодром для спорта" src="IMAGES/zacepu pod skalodrom.jpg" title="Fitness скалодром с нависанием. Фото" />
        <h5>от 3 до 4,5 м</h5>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Зацепы для скалодрома" src="IMAGES/skalodrom v zale.jpg" title="Fitness скалодром с большим количеством зацеп. Фото" />
        <h5>от 4,5 до 6 м</h5>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалолазная стенка для фитнеса" src="IMAGES/fitness skalodrom.jpg" title="Небольшой скалодром для занятия фитнесом. Фото" />
        <h5>от 6 до 25 м</h5>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Автономный фитнес-скалодром" src="IMAGES/self wall skalodrom.jpg" title="Фитнес-скалодром автономной конструкции. Фото" />
        <h5>без стен стен - self-wall</h5>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалодром. Улица" src="IMAGES/skalodrom ylichnui.jpg" title="Фитнес-скалодром для улицы. Фото" />
        <h5>Уличный вариант любой высоты</h5>
      </div>
    </div>
  </div>

<div class="thumbnail indent-block">
  <div class="row">
    <div class="col-xs-4">
      <p><img alt="Скалодром с изменяющимся углом" src="IMAGES/skalodrom.jpg" title="Фитнес-скалодром со сменным углом наклона. Фото" /></p>
    </div>
    <div class="col-xs-8">
      <p>Одними из прогрессивных видов скалолазных тренажеров для фитнеса являются <strong>скалодромы с изменяющимся углом</strong>, что позволяет сделать легче или сложнее выполнение физических упражнений. Такие <a href="[[++site_url]]texnologii/karkas-skalodroma">конструкции</a> быстро принимают необходимый угол наклона, благодаря механическому или электрическому приводам.</p>
    </div>
  </div>
</div>


<div class="clearfix"></div>
