﻿<p><img alt="Девушка на фитнес-скалодроме" class="rightimg" src="IMAGES/devysha_fitness skalodrom_kypit skalodrom.jpg" title="Купить скалодром для занятия фитнесом. Фото" /></p>

<ul class="number">
  <li><img alt="ico" class="leftimg_ico" src="img/services/ico/ico_1.png" />
  <p>Фитнес-тренер - очень востребованная профессия В XXI веке. С каждым годом становится все больше спортивных комплексов, что делает спрос этой профессии выше. Фитнес-тренер - одна из немногих профессий, которые приносят людям удовольствие. Только посмотрите на тренеров, которые вкладывают свою душу и сердце в тренировочный процесс!</p>
  </li>
  <li><img alt="ico" class="leftimg_ico" src="img/services/ico/ico_2.png" />
  <p>Скалолазание является частью ученического процесса во многих странах и городах Европы. Скалодромы <span class="color_blue">устанавливаются как в школах, так и в ВУЗах</span>. Их даже можно встретить в детских садах, что совсем недавно считалось нонсенсом. Дети от 2-х лет могут заниматься безопасным скалолазанием.</p>
  </li>
  <li><img alt="ico" class="leftimg_ico" src="img/services/ico/ico_3.png" />
  <p>Прекрасная разновидность физкультуры, которая оказывает свое влияние абсолютно на <strong>все участки тела</strong>. Тренируются те мышцы, которые не поддаются воздействию на других тренажерах.</p>
  </li>
  <li><img alt="ico" class="leftimg_ico" src="img/services/ico/ico_4.png" />
  <p>Практически <span class="color_blue">не занимает места</span>, т.к. это стена.</p>
  </li>
  <li><img alt="ico" class="leftimg_ico" src="img/services/ico/ico_5.png" />
  <p>Это спортивный экстрим и активный отдых.</p>
  </li>
  <li><img alt="ico" class="leftimg_ico" src="img/services/ico/ico_6.png" />
  <p>Ниша только начинает наполняться.</p>
  </li>
  <li><img alt="ico" class="leftimg_ico" src="img/services/ico/ico_7.png" />
  <p>Скалолазание — это модно, экстремально, это нечто совершенно новое для фитнес-клуба. Скалодромы принципиально отличаются от всех существующих классических тренажеров для фитнеса.</p>
  </li>
</ul>

<p>Скалодромы от <strong>СК FormAT</strong> позволяют не только разнообразить тренировочный процесс клуба, но и привлечь новые целевые группы: детей, подростков и любителей скалолазания. Ваш клуб будет выгодно отличаться от конкурентов! Наши архитекторы и дизайнеры предложат несколько вариантов индивидуального дизайна тренажера специально под ваш стиль.</p>

<div class="clearfix">&nbsp;</div>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i-QmUdfM-OE" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->


