﻿
<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i-QmUdfM-OE" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

<!-- col-3 images -->
  <div class="row">
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Фитнес-скалодром в помещении" src="IMAGES/fitness skalodrom v otdelnom pomeshenii.jpg" title="Фитнес-скалодром для занятия фитнесом. Wellness. Фото" />
        <h5>отдельное помещение</h5>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалодром для тренажерного зала" src="IMAGES/fitness skalodrom v trenajernom zale.jpg" title="Фитнес-скалодром в тренажерном зале. Фото" />
        <h5>тренажерный зал</h5>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалодром для кардио-зоны" src="IMAGES/fitness skalodrom v kardio zone.jpg" title="Фитнес-скалодром для кардио-тренировок. Фото" />
        <h5>кардио-зона</h5>
      </div>
    </div>
  </div>
<!-- col-3 images -->

<!-- col-3 images -->
  <div class="row">
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалодром в фитнес-зале" src="IMAGES/skalodrom v fitness centre.jpg" title="Занятия фитнесом на скалодроме. Фото" />
        <h5>фитнес-зал</h5>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалодром для cross-fit" src="IMAGES/fitness skalodrom dlya crossfit.jpg" title="Скалодром для кроссфит-тренировок. Фото" />
        <h5>сross-fit</h5>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Функциональный тренинг. Скалодром" src="IMAGES/skalodrom dlya fynkcionalnogo treninga.jpg" title="Скалолазная стенка для зоны функционального тренинга. Фото" />
        <h5>зона функционального тренинга</h5>
      </div>
    </div>
  </div>
<!-- col-3 images -->

<!-- col-3 images -->
  <div class="row">
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалодром. Теннисного корт" src="IMAGES/skalodrom dlya fytbolnogo polya.jpg" title="Фитнес-скалодром для футбольного поля. Фото" />
        <h5>футбольный/ теннисный корт</h5>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалодром для детской зоны" src="IMAGES/fitness skalodrom dlya detskoi zonu.jpg" title="Скалодром для детей. Фитнес. Фото" />
        <h5>детская зона</h5>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Водный скалодром" src="IMAGES/skalodrom dlya basseina_stekloplastik.jpg" title="Скалолазание над водой. Фото" />
        <h5>аква-зона</h5>
      </div>
    </div>
  </div>
<!-- col-3 images -->

<!-- col-3 images -->
  <div class="row">
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Cкалодром для лестничного пролета" src="IMAGES/fitness skalodrom dlya lestnichnogoproleta.jpg" title="Скалодром, размещаемый часто в ТРЦ. Фото" />
        <h5>свободные пространства (лестничные пролеты)</h5>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалодром в спец. помещении" src="IMAGES/fitness skalodrom dlya otdelnogo pomesheniya.jpg" title="Фитнес-скалодром для людей всех возрастов. Фото" />
        <h5>отдельные помещения для скалодромов</h5>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Уличный фитнес-скалодром" src="IMAGES/fitness skalodrom dlya ylicu.jpg" title="Автономный скалодром. Фото" />
        <h5>отдельно стоящая уличная конструкция</h5>
      </div>
    </div>
  </div>
<!-- col-3 images -->


<p>Скалодромы используют пространство, которое не может быть использовано для другого спортивного оборудования. Скалодром – отличный тренажер, который может находиться даже на баскетбольной площадке, теннисном корте и футбольном поле, используя только вертикальное пространство. Скалодром как дополнительный тренажер для многофункционального спортивного зала используется даже тогда, когда футбольный или баскетбольный залы не используется для турниров или игр.</p>
