﻿
<blockquote>
  <p>Дело в том, что бизнес спортклубов – сетевой. Один или два спортклуба – нерентабельны. Когда мы планируем новый объект, то предусматриваем его как часть сети. Он должен быть уникален: либо там находятся большие бассейны, либо - футбольные поля, либо - скалодромы</p>
  <footer>Дмитрий Екимов, <cite title="Source Title">основатель группы компаний Sport Life</cite></footer>
</blockquote>

<blockquote>
  <p>Захватывающие ощущения от покорения вершины и оптимальная физическая нагрузка – вот за что миллионы людей по всему миру так любят скалолазание. Под четким контролем профессиональных инструкторов Вы научитесь азам скалолазания и, скорее всего, влюбитесь в этот вид спорта.</p>
  <footer>Фитнес-клуб ZARЯDKA</footer>
</blockquote>

<blockquote>
  <p>Скалолазание из довольно экзотического занятия в наше время стало распространенным хобби. Покорять вершины сегодня мечтают даже жители мегаполисов. Поэтому наш фитнес-центр предлагает своим клиентам отличный скалодром.</p>
  <footer>Фитнес-центр Zupre</footer>
</blockquote>

<blockquote>
  <p>Занятия на скалодроме - это абсолютный формат фитнес-тренировок как для членов обоих фитнес-клубов, так и для не членов клубов, приравненный к функциональному тренингу. Совмещение занятий на скалодроме и тренажерном зале дает человеку возможность поддерживать в хорошей форме опорно-двигательный аппарат.</p>
  <footer>Сеть клубов World Class</footer>
</blockquote>

<blockquote>
  <p>Фитнес-клуб «Аэро-Фит» предлагает попробовать свои силы на скалолазном тренажере, а по-простому — на СКАЛОДРОМЕ. Общая площадь высокотехнологичного современного скалолазного стенда составляет 70 квадратных метров при высоте 5 метров. На скалодроме представлены всевозможные варианты рельефа, что делает лазанье увлекательным и разнообразным.</p>
  <footer>Фитнес-клуб «Аэро-Фит»</footer>
</blockquote>

<blockquote>
  <p>Скалодром в клубе World-Gym существует с самого его рождения, то есть уже пять с половиной лет. И с самого начала клуб, усилиями сотрудников, включая меня, активно раскручивал и продвигал занятия на скалодроме, постепенно увеличивая популярность. Сегодня скалодрома нет, наверное, только у ленивого или не очень понимающего в своём бизнесе владельца клуба или торгового центра.</p>
  <footer>Олег Ларин, <cite title="Source Title">главный инструктор по фитнесу и скалолазанию Клуба «World-Gym — Тульская»</cite></footer>
</blockquote>


<div class="well">
  <p><img alt="Скалодром в фитнес-клубе" src="IMAGES/klientu skalodroma.jpg" title="Fitness скалодром для расширения целевой аудитории. Фото" class="rightimg" /></p>

  <h4>Скалодром - это новая форма общения клиентов клуба</h4>

  <p>В США и Европе скалолазание признано новым фитнесом, обладающим рядом преимуществ для формирования тела подростка. Это объясняет появившуюся тенденцию по установке скалодромов во все большее число фитнес-клубов. Скалодром превратился в новое фитнес-оборудование с наилучшей инвестиционной отдачей.</p>
<div class="clearfix"></div>
</div>

<div class="clearfix">&nbsp;</div>
<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i-QmUdfM-OE" frameborder="0" allowfullscreen></iframe>
          </div>
<!-- embed video -->

