
<img alt="Деревянный каркас скалодрома" src="IMAGES/karkas skalodroma.jpg" title="Каркас для боулдеринга. Фото" class="rightimg" />
<p>Перед началом проектирования и строительства скалодрома необходимо определиться с выбором материала для каркаса или его основы, на которую крепятся панели. Данное решение повлияет как на общую стоимость скалодрома, так и на скорость его изготовления, а также на ряд других конструктивных решений.</p>

<div class="indent-regular">
<h5>Существуют следующие варианты каркаса скалодрома:</h5>

<!-- check list -->
  <ul class="number">
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>деревянный каркас</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>металлический сборной (цельно-сваренный), разборной или шарнирный каркас</p>
  </li>
  </ul>
<!-- check list -->
</div>

<p>Деревянный каркас применяется <a href="[[++site_url]]vidyi-skalodromov/sportivnui-skalodrom/vidyi-sportivnyix">для боулдеринга, невысоких скалодромов на трудность</a> с простым рельефом, а также для <a href="[[++site_url]]vidyi-skalodromov/skalodrom-doma-domashnii-skalodrom">домашних</a> скалодромов.</p>

<p>Металлический каркас для скалодрома применяется для строительства всех видов скалодрома и особенно для высоких скалодромов, а также скалодромов со <a href="[[++site_url]]texnologii/paneli-dlya-skalodroma">стеклопластиковыми рельефными панелями</a> с имитацией скалы.</p>

<!-- embed video -->
  <p>&nbsp;</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fl2VSP7Nk4k" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->


<div class="clearfix">&nbsp;</div>

<h2>Материалы каркаса скалодрома</h2>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <th>Материалы каркаса</th>
        <th class="color_green">Плюсы</th>
        <th class="color_orange">Минусы</th>
      </tr>
      <tr>
        <td class="color_blue tac">Дерево</td>
        <td>

        <p><span class="label label-success">+</span> низкая стоимость</p>

        <p><span class="label label-success">+</span> легкая подгонка по месту</p>

        <p><span class="label label-success">+</span> производство по месту</p>

        <p><span class="label label-success">+</span> необязательность детального предварительного проектирования</p>

        </td>
        <td>

        <p><span class="label label-danger">-</span> нельзя использовать в высоких скалодромах со сложным рельефом</p>

        <p><span class="label label-danger">-</span> такой каркас для боулдеринга сложно подлежит предварительной сборки в цеху, и, как правило, производится и собирается по месту установки скалодрома</p>

        <p><span class="label label-danger">-</span> относительная мобильность</p>

        </td>
      </tr>
      <tr>
        <td class="color_blue tac">Металл</td>
        <td>
        <p><span class="label label-success">+</span> лучшее решение для высоких и сложных скалодромов</p>

        <p><span class="label label-success">+</span> производство как по месту скалодрома, так и в цеху завода изготовителя</p>

        <p><span class="label label-success">+</span> чистота сборки</p>

        <p><span class="label label-success">+</span> любая прочность</p>

        <p><span class="label label-success">+</span> мобильность, способность к перемещению скалодрома на новое место</p>

        <p><span class="label label-success">+</span> отлично решают задачи <a href="[[++site_url]]vidyi-skalodromov/mobilnui-skalodrom">мобильных скалодромов</a></p>
        </td>

        <td>
        <p><span class="label label-danger">-</span> более высокая стоимость как материала, так и работ (сварочных, монтажных и пр.)</p>

        <p><span class="label label-danger">-</span> обязательное проектирование специалистами</p>

        </td>
      </tr>
    </tbody>
  </table>
</div>


<p>Нужно отметить, что проектирование металлического каркаса перед производством, сборкой и монтажом - это довольно профессиональная работа, в которой задействованы ряд специалистов. Это и проектанты, имеющие опыт проектирования металлических конструкций, и скалолазы-спортсмены, обладающие знаниями о геометрии, нависаниях и прочих скалолазных моментах скалодромов, а также инженеры и монтажники, которые производят, собирают и устанавливают скалодромы. Незнание или неучет этих нюансов порой приводят к остановке производства или сборки, а также новому проектированию узлов.</p>

<p><strong>СК FormAT</strong> разрабатывает проекты, изготавливает и монтирует несущие металлоконструкции скалодромов в соответствии со следующими правилами и инструкциями:</p>

<!-- check list -->
  <ul class="number">
    <li><img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>норматив СП 31-115-2008, часть 4 «экстремальные виды спорта» от 04.04.2009</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>СП 53-101-98</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>ГОСТ 23118-99</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>СП 20.13330.2011 «Нагрузки и воздействия. Актуализированная редакция СНиП 2.01.07-85»</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>СП 53.13330.12 «Общие правила проектирования стальных конструкций»</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>европейский стандарт EN 12572 «Искусственные сооружения для скалолазания - страховочные крепления, требования к устойчивости и методы испытания»</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>ряд других нормативных актов как в сфере строительства, так и в сфере спортивного скалолазания.</p>
    </li>
  </ul>
<!-- check list -->



