﻿<!-- embed video -->
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fl2VSP7Nk4k" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->


<p>Скалодромы <strong>FormAT</strong> оснащаются тремя вариантами упорных гаек (известными в скалолазном мире под названием «бульдоги»).</p>


<hr>
<div class="row">
  <div class="col-sm-3 col-xs-4">
    <img alt="Cтандартные мебельные упорные стальные оцинкованные гайки для скалолазных панелей. Фото" src="IMAGES/gaika dlya skalodroma.jpg" title="Закладные элементы панелей" />
  </div>
  <div class="col-sm-9 col-xs-8">
    <p>Первые - это стандартные мебельные упорные стальные оцинкованные гайки, которые встраиваются в скалолазные панели.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 col-xs-4">
    <img alt="Упорные гайки. Скалодром" src="IMAGES/ypornaya gaika dlya skalodroma.jpg" title="Закладные элементы скалолазных панелей. Фото" />
  </div>
  <div class="col-sm-9 col-xs-8">
    <p>Вторые - это специально разработанные упорные гайки для скалодромов.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 col-xs-4">
    <img alt="Упорные гайки производства CK FormAT для скалолазных панелей. Фото" src="IMAGES/gaika dlya skalodroma ot sk format.jpg" title="Производство CK FormAT" />
  </div>
  <div class="col-sm-9 col-xs-8">
    <p>Третьи - это упорные гайки нашего производства, ориентированные на <a href="[[++site_url]]vidyi-skalodromov/sportivnui-skalodrom">спортивные скалодромы</a> с повышенной прочностью и увеличенной нагрузкой (например, для прыжков спортсменов), которые прикручиваются к тыльной стороне панелей с помощью саморезных шурупов. Данная технология позволяет заменять гайки в случае их износа или повреждения в результате чрезмерного или неправильного ввинчивания зацеп.</p>
  </div>
</div>
<hr>



