﻿<strong>FormAT</strong>
использует страховочное оборудование, сертифицированное по международным стандартам безопасности снаряжения UIAA Safety Label (Международный союз альпинистских ассоциаций).
<p>&nbsp;</p>

<p> <strong>Скалолазание</strong>
  является бесконтактным видом спорта, вследствие чего спортсмены не получают большую часть травм, характерных для таких видов спорта, как футбол, боевые искусства и атлетика.
</p>

<h2>
  Страховочное оборудование для скалодрома. Страховочные системы
</h2>

<p>
  В спортивном и развлекательном скалолазании применяются следующие виды страховок:
</p>
<!-- check list -->

<ul class="number">
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>верхняя страховка</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>нижняя страховка</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>
      <a href="[[++site_url]]texnologii/sportivnyie-matyi-dlya-skalodromov">спортивный мат (crash-pad)</a>
    </p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>автоматическая страховка</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>бассейн</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>поролоновая яма</p>
  </li>
</ul>
<!-- check list -->

<p>
  <strong>Страховка</strong>
  - это набор инструментов и устройств для безопасного занятия скалолазанием и возможности избежать любого рода травм как на протяжении лазания по скалодрому, так и во время нахождения участников лазания под или возле лезущих спортсменов, а также во время падения.
</p>

<h2>Верхняя страховка</h2>

<p>
  <img alt="Верхняя страховка. Скалодром" src="IMAGES/verhnya strahovka dlya skalodroma.jpg" title="Верхняя страховочная система для скалодрома. Фото" />
</p>

<p>
  Верхняя скалолазная страховка применяется на спортивных скалодромах (вид - скалолазание на трудность) на ровных вертикальных стенах либо на стенах с небольшим нависанием. Как правило, данный вид страховки используется на большинстве аттракционов и на спортивных скалодромах для новичков. Ее смысл заключается в том, что две станции страховки находится в самой верхней точке трассы.
  <a href="[[++site_url]]texnologii/snaryazhenie-dlya-skalodroma-oborydovanie-dlya-skalodroma">Статическая (реже динамическая)</a>
  веревка пропускается сквозь станцию из двух против направленных карабинов вниз к лезущему спортсмену. Во время скалолазания веревка выбирается или выдается страхующим спортсменом (инструктором). Когда лезущий спортсмен срывается, то его срыв плавно блокируется страхующим, в результате чего спортсмен продолжает подъем немного ниже точки падения либо спускается страхующим вниз.
</p>

<p>
  <img alt="Верхняя страховка. Скалолазание" src="IMAGES/strahovka dlya skalodroma.jpg" title="Верхняя скалолазная страховка. Фото" />
</p>

<h2>Нижняя скалолазная страховка</h2>
<img alt="Нижняя страховка. Скалодром" class="rightimg" src="IMAGES/nijnyaya strahovka dlya skalodroma.jpg" title="Нижняя страховочная система для скалолазов. Фото" />
<p>
  Нижняя скалолазная страховка используется исключительно для спортивных целей в дисциплине скалолазания на трудность, поскольку требует определенных навыков и опыта как лезущего, так и страхующего спортсменов. Принципиальное отличие нижней скалолазной страховки от верхней в том, что при скалолазании на естественных скалах при отсутствии верхних точек страховок нет возможности страховать верхней страховкой и необходимо совершать лазание с вщелкиванием веревки в оттяжки по ходу маршрута. Точки нижней страховки располагаются по всей трассе с промежутком 1-2 метра. С одной стороны веревка крепится к лезущему спортсмену, а с другой - к страхующему. Во время пролазания трассы скалолаз вщёлкивает (вставляет) веревку в точки страховки (оттяжки) по высоте, к которой пролез. Задача страхующего спортсмена - выдавать и выбирать веревку в зависимости от этапа маршрута. При срыве скалолаз останавливает падение на верхней точке страховки, в которую он пропустил веревку. При нижней страховке высота полета спортсмена может составлять до 10 метров, если срыв произошел непосредственно перед вщелкиванием в очередную точку. Поэтому данный вид страховки используется опытными спортсменами и добавляет определенного экстрима от свободного падения. В нижней страховке не используют статическую веревку, поскольку рывок должен быть плавным.
</p>
<img alt="Специальные маты. Скалодром" class="rightimg" src="IMAGES/matu dlya skalodroma.jpg" title="Крэш пэды для скалодромов. Фото" />
<p>
  Спортивные маты используются в основном для боулдеринга либо как дополнительно амортизирующее покрытие для иных видов скалолазания. Толщина матов для боулдеринга составляет в среднем 40 см. и рассчитывается индивидуально в зависимости от конкретной сложности и высоты скалодрома. Европейскими нормами установлены требования к таким матам как в отношении толщины, так и в отношении ширины и длины таких матов.
</p>

<div class="clearfix">&nbsp;</div>

<h2>Автоматическая страховка</h2>
<img alt="Автоматическая система страховки" class="rightimg" src="IMAGES/avtomaticheskaya strahovka dlya skalodroma.jpg" title="Автоматическая страховочная система для скалолазания. Фото" />
<p>
  Автоматическая страховка используется в большей степени в аттракционах-скалодромах, поскольку в боулдеринге используются спортивные маты, а в трудности с хорошими нависаниями такой вид страховки опасен по причине большого маятника.
</p>

<p>
  Автоматическая страховка прекрасно подходит для аттракционов, в которых есть много маршрутов, поскольку позволяет работать одному или паре инструкторов на большое количество маршрутов одновременно. Автоматизация заключается в том, что инструктор правильно прикрепляет клиента к страховке, которая страхует его на протяжении всего подъема. При подъеме автомат выбирает лишний трос, а при срыве блокируется или гасится торможением по принципу автомобильных ремней безопасности.
</p>

<!-- embed video -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe allowfullscreen="" class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/EO6qko_fo9o"></iframe>
</div>

<p>&nbsp;</p>
<!-- embed video -->

<div class="row">
  <div class="col-sm-6">
    <div class="link-block indent-regular">
      <img alt="Deep Water Solo" src="IMAGES/skalodrom nad basseinom.jpg" title="Скалолазание над водой - безопасно и весело! Фото" />
      <p>
        <a href="[[++site_url]]vidyi-skalodromov/vodnyie">Бассейн</a>
        используется как страховка для скалодромов Deep Water Solo.
      </p>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="link-block indent-regular">
      <img alt="Поролоновые ямы. Скалодром" src="IMAGES/porolonovue yamu dlya skalodroma.jpg" title="Поролоновые ямы для небольших скалодромов. Фото" />
      <p>
        Поролоновые ямы используют для небольших скалодромов высотой до 6 м.
      </p>
    </div>
  </div>
</div>

<h4>
  СК
  <span class="color_green">Form</span>
  <span class="color_orange">AT</span>
  предоставляет следующие документы на скалодром:
</h4>
<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>3-d визуализацию скалодрома;</p>
<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>технический паспорт на скалодром;</p>
<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>инструкцию по эксплуатации скалодрома;</p>
<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>
  инструкцию по технике безопасности при занятиях на скалодроме;
</p>
<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>
  проектную документацию как на металлокаркас (проекты КМ, КМД), так и на весь скалодром (проекты АР, ПР и др.) в соответствии со СНиП, требованиями СП 31-115-2008 и общеевропейского стандарта EN 12572;
</p>
<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>
  <a href="[[++site_url]]poleznyie-materialyi/faq/sertifikatyi-na-skalodrom-i-na-straxovochnyie-sistemyi">сертификаты</a>
  на комплектующие, а также страховочное оборудование;
</p>
<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>
  методики и
  <a href="[[++site_url]]nashi-uslugi/obuchenie-i-sistema-trenirovok">программы для инструкторов (тренеров), и тренировок</a>
  клиентов.
</p>

<div class="indent-big clearfix">
  <div class="row">
    <div class="col-xs-6">
      <a class="link-block" href="poleznyie-materialyi/books-download/kak-okupit-skalodrom-za-3-mesyacza">
        <img alt="Как получить место под скалодром" src="/IMAGES/rezcrop/min172_kypit skalodrom, postroit skalodrom, okypit skalodrom1.png" title="Получите книгу " />
      </a>

      <h5>
        <a class="link-block" href="poleznyie-materialyi/books-download/kak-okupit-skalodrom-za-3-mesyacza">
          Получите книгу "Как окупить скалодром за 3 месяца. Книга о бизнесе на скалодроме"
        </a>
      </h5>
    </div>

    <div class="col-xs-6">
      <a class="link-block" href="poleznyie-materialyi/books-download/kak-postroit-skalodrom">
        <img alt="Получите книгу " src="/IMAGES/rezcrop/min172_kypit skalodrom, postroit skalodrom, okypit skalodrom1.png" />
      </a>

      <h5>
        <a class="link-block" href="poleznyie-materialyi/books-download/kak-postroit-skalodrom">
          Получите книгу "Как построить скалодром. Книга о скалодромах"
        </a>
      </h5>
    </div>
  </div>
</div>
