﻿<img alt="Спортивный мат. Скалодром" src="IMAGES/sportivnue matu dlya skalodroma.jpg" title="Маты для скалодрома. Фото" class="rightimg" />
<p>Для обеспечения безопасности в скалолазании для организации занятий и спортивных мероприятий требуется наличие специальных спортивных матов.</p>
<p><strong>СК FormAT</strong> производит свои собственные спортивные маты для скалодромов. Как и все наши продукты, маты разработаны при участии спортсменов-скалолазов. Технология и требования к спортивным матам урегулированы рядом европейских норм Европейской Ассоциации скалолазания, в частности это EN 12572-2:2008. Зона безопасности высчитывается на расстоянии от начала (нижней точки скалодрома) на глубину двух с половиной метров, начиная от проекции верхней точки скалодрома. Высота (толщина) мата высчитывается индивидуально и составляет от 0,1 м до 0,4 м. Есть ряд требований и правил. В частности, в боулдеринге для каждого метра высоты скалодрома требуется толщина 0,1 м мата. По мировым скалолазным нормам внутренняя часть спортивного страховочного мата (поролон) состоит из двух слоев поролона разной плотности (верхняя часть из из более плотного поролона). Маты должны составлять единое целое без явных стыков, допускающих попадание в эти стыки при падении. К тому же, спортивный мат необходимо плотно подкладывать к нижней части скалодрома. Скалолазные нормы регламентируют не только технологические моменты производства спортивных матов, но и порядок испытания систем соединения матов в области удара.</p>

<div class="clearfix">&nbsp;</div>


<!-- embed video -->
  <p>&nbsp;</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fl2VSP7Nk4k" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->

<h3>В связи с этим компания <strong>FormAT</strong> производит 2 варианта матов для скалодромов:</h3>

<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>изготовление монолитного мата на всю страховочную зону скалодрома любой площадью с учетом всех изломов и углов периметра скалодрома (к примеру, в боулдеринг-клубе <strong>FormAT</strong> установлен мат площадью 90 кв.м.);</p>

<img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
<p>изготовление секционных матов с текстильной застёжкой Velcro (липучкой), которая перекрывает все стыки отдельных секций матов; данный вид более мобилен и легок в обслуживании и чистке.</p>
В некоторых случаях использование спортивных матов не имеют смысла: в частности, в тех местах траверсов и боулдеринга, где есть небольшая высота и маленькие нависания. Здесь возможно использование гимнастической страховки. Для уличных скалодромов с целью смягчения падения используются обычный песок или мелкий гравий. Более эстетичным и приятным вариантом может служить резиновое уличное спортивное покрытие.

<p><strong>СК FormAT</strong> предоставляет широкий выбор покрытий мата: от самого прочного материала в мире Кордура, который изначально предназначался для армии, до стандартной ткани ПВХ (винил). У каждого из материалов есть свои преимущества. К примеру, ПВХ ткань (тент, винил и пр. названия) очень хорошо подвержена чистке, которая так необходима при занятиях с порошковой магнезией. Но при этом такой материал является не самым приятным при падении спортсмена, поскольку довольно жесткий и липкий к телу. Тем не менее, данный материал используют в 90 % случаев, в т.ч. <a href="[[++site_url]]poleznyie-materialyi/vse-o-skalolazanii-i-skalodromax">на мировых соревнованиях</a>.</p>
