﻿
<p>&nbsp;</p>
<div class="well text-center">Хотите купить вспомогательное <strong>оборудование для скалодрома</strong> от производителя <strong>СК FormAT</strong>? Связывайтесь с нами! <a href="[[++site_url]]contacts">Контакты</a>.</div>
<p>&nbsp;</p>


<div class="row">
  <div class="col-sm-8 col-xs-9">
    <h4>Скалолазная обувь (скальники, скальная обувь)</h4>
    <p><strong>Скальники</strong> - это специализированная обувь с прорезиненной подошвой, имеющие очень плотное прилегание к стопе (пальцам и пятке), что необходимо для спортивного скалолазания по мелким зацепам, а также для ряда других скалолазных упражнений. Они бывают на шнурках, липучей ленте и на резиновой растяжке. Любой спортсмен может поделиться непередаваемым ощущением от ношения первых скальников: вначале это всегда больно, но лазание тут же вырастает на порядок.</p>
  </div>
  <div class="col-sm-4 col-xs-3">
    <img alt="Скальные туфли" src="IMAGES/skalniki dlya skalodroma.jpg" title="Скалолазная обувь. Фото" />
  </div>
</div>

<div class="clearfix"></div>

<!-- embed video -->
  <p>&nbsp;</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fl2VSP7Nk4k" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->


<h4>Спортивная магнезия</h4>
<p><strong>Спортивная магнезия</strong> - это порошковое, жидкое либо гелевое средство, которое используют в спортивном скалолазании, чтобы минимизировать увлажнение пальцев рук при сцеплении с зацепами и рельефами скалодрома. Спортстмен-скалолаз всегда использует магнезию. При лазании на трудность порошковая магнезия находится в мешке, прикрепленном к поясу спортсмена. Последнее новшество - это магнезия в формате геля. Порошковая магнезия более дешевая, но в связи со своей пыльностью и загрязнением воздуха во время лазания некоторые скалодромы запрещают ее использование</p>
<p><img alt="Спортивная магнезия. Скалолазание" src="IMAGES/magneziya dlya skalodroma.jpg" title="Белый порошок для скалолазания. Для увеличения надежности хвата. Фото"/></p>

<hr>
<div class="row">
  <div class="col-sm-8 col-xs-9">
    <h4>Веревки для скалолазания</h4>
    <p>Есть 2 вида веревок, используемых в скалолазании: <strong>статическая</strong> и <strong>динамическая</strong>. Статическая веревка используется при верхней страховке, а динамическая веревка - при нижней.</p>
  </div>
  <div class="col-sm-4 col-xs-3">
    <img alt="Веревка статическая. Скалодром" src="IMAGES/verevka staticheskaya dlya skalodroma.jpg" title="Статическая веревка для скалолазания. Фото" />
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-8 col-xs-9">
    <h4>Оттяжки</h4>
    <p>Скалолазные оттяжки используются в спортивном скалолазании на сложность для нижней страховки и на естественном скальном рельефе.</p>
  </div>
  <div class="col-sm-4 col-xs-3">
    <img alt="Скалодром. Нижняя страховка" src="IMAGES/ottyajki dlya nijnei strahovki.jpg" title="Нижняя страховка для скалодрома, оттяжки. Фото" />
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-8 col-xs-9">
    <h4>Страховочные беседки (они же системы, они же пояса, они же обвязки).</h4>
    <p>На сегодня на рынке представлены десятки разных страховочных беседок, которые отличаются как дизайном, так и своей функциональностью. При этом есть как универсальные системы, так и детские, и взрослые беседки. Перед покупкой желательно проконсультироваться со специалистами. Количество страховочных систем зависит от вида скалодрома и его предназначения, а также индивидуальной конфигурации и целевой аудитории.</p>
  </div>
  <div class="col-sm-4 col-xs-3">
    <img alt="Индивидуальные страховочные системы" src="IMAGES/strahovochnue sistemu dlya skalodroma.jpg" title="Обвязки для скалодрома. Фото" />
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-8 col-xs-9">
    <h4>Страховочные устройства гри-гри, корзинка, 8-ка и др.</h4>
    <p>Данные страховочные устройства используются по одному на 1 лезущего и 1 страхующего скалолаза. Более безопасным является устройство гри-гри, при этом оно на порядок дороже.</p>
  </div>
  <div class="col-sm-4 col-xs-3">
    <img alt="Страховочное устройство. Скалодром" src="IMAGES/strahovochnoe ystroistvo dlya skalodroma.jpg" title="Гри-гри, корзинка, восьмерка для скалодрома. Фото" />
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-8 col-xs-9">
    <h4>Муфтующиеся карабины</h4>
    <p>Муфтующиеся карабины используются для точек верхней страховки, для крепления веревки к страховочному поясу, а также в качестве комплектующей оттяжек нижней страховки. Их число расcчитывается индивидуально для каждой системы страховки. Для аттракционов данные карабины довольно полезны для увеличения скорости обслуживания клиентов, чтобы каждый раз не привязывать новый узел.</p>
    Хотите узнать больше про вспомогательное <strong>оборудование для скалодрома</strong> от производителя <strong>СК FormAT</strong>? Связывайтесь с нами! <a href="[[++site_url]]contacts">Контакты</a>.
  </div>
  <div class="col-sm-4 col-xs-3">
    <img alt="Карабины для скалодрома" src="IMAGES/karabinu dkya skalodroma.jpg" title="Карабины для скалолазания. Фото" />
  </div>
</div>

