﻿<div class="well">На данной странице Вы узнаете, какие бывают <strong>панели для скалодрома</strong>, в чем заключаются плюсы и минусы каждого варианта.</div>


<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <th>Материалы каркаса</th>
        <th class="color_green">Плюсы</th>
        <th class="color_orange">Минусы</th>
      </tr>
      <tr>
        <td class="color_blue tac">Фанера</td>
        <td>
        <p><span class="label label-success">+</span> используются в большинстве скалодромов мира, в т.ч. в спортивных</p>

        <p><span class="label label-success">+</span> дешевле всех остальных</p>

        <p><span class="label label-success">+</span> подходят для любой покраски</p>

        <p><span class="label label-success">+</span> подходят как для помещения, так и для улицы</p>

        <p><span class="label label-success">+</span> не нужны специальные технологии для производства</p>

        <p><span class="label label-success">+</span> легкая подгонка</p>
        </td>
        <td>
        <p><span class="label label-danger">-</span> меньшая по сравнению с пластиком долговечность</p>

        <p><span class="label label-danger">-</span> возможность рельефа ограничена до плоских 2-д форм</p>
        </td>
      </tr>
      <tr>
        <td class="color_blue tac">Стеклопластик</td>
        <td>
        <p><span class="label label-success">+</span> имитация натурального рельефа скал, скального рельефа, щелей, впадин, полок, карнизов, трещин, текстур</p>

        <p><span class="label label-success">+</span> возможность производства любой формы</p>

        <p><span class="label label-success">+</span> практически не имеют срока годности как в помещении, так и на улице</p>
        </td>
        <td>
        <p><span class="label label-danger">-</span> гораздо дороже остальных видов</p>

        <p><span class="label label-danger">-</span> производство удорожается специальными технологиями и небольшим количеством производителей</p>

        <p><span class="label label-danger">-</span> если купили готовые пластиковые панели, то при самостоятельной установке могут быть не учтены нюансы, и подгонка может быть не идеальной</p>
        </td>
      </tr>
      <tr>
        <td class="color_blue tac">Поликарбонат</td>
        <td>
        <p><span class="label label-success">+</span> прозрачность</p>

        <p><span class="label label-success">+</span> отлично подходят для уличного использования</p>
        </td>
        <td>
        <p><span class="label label-danger">-</span> не используются в спортивных целях</p>

        <p><span class="label label-danger">-</span> возможны только вертикальные стены</p>
        </td>
      </tr>
      <tr>
        <td class="color_blue tac">Бетон</td>
        <td>
        <p><span class="label label-success">+</span> возможность создания весьма сложной конструкции</p>

        <p><span class="label label-success">+</span> долговечные, прочные антивандальные конструкции</p>
        </td>
        <td>
        <p><span class="label label-danger">-</span> практически не используются в спортивных целях</p>

        <p><span class="label label-danger">-</span> ограниченное использование и количество трасс (маршрутов)</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- col-3 images -->
  <div class="row">
    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалодром из фанеры" src="IMAGES/skalodrom iz faneru.jpg" title="Скалолазные панели из фанеры. Фото" />
        <h4>из фанеры</h4>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Стеклопластиковый скалодром" src="IMAGES/skalodrom_stekloplastikovui.jpg" title="Скалодром из стеклопластика. Фото" />
        <h4>из стеклопластика</h4>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block indent-regular">
        <img alt="Скалолазная панель из поликарбоната" src="IMAGES/skalodrom iz polikarbonata.jpg" title="Скалодром из поликарбоната. Фото" />
        <h4>из поликарбоната</h4>
      </div>
    </div>
  </div>
<!-- col-3 images -->


<!-- embed video -->
  <p>&nbsp;</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fl2VSP7Nk4k" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->


<h3 style="text-align: center;">Стеклопластиковые панели для скалодрома</h3>

<p>Стеклопластиковые панели стоят в разы дороже. Они дорого стоят за счёт дорогого производства, большой зарплаты инженерам, большого штата сотрудников, а некоторые производители везут их из-за границы с растаможкой.</p>

<p>Судя по нашей практике, клиенты вообще не обращают внимание на материал панелей скалодрома. При этом, в наших реалиях не все клиенты хотят видеть кусок обычной скалы, пускай даже с рельефом. Тем более, что такой рельеф имеет практичность в <a href="[[++site_url]]vidyi-skalodromov/sportivnui-skalodrom">спортивных скалодромах</a> в очень узкой направленности. При этом, такие панели в 3-5 раз (в зависимости от производителя) дороже <a href="[[++site_url]]texnologii/osobennosti-skalolaznyix-panelej">фанерных модулей</a>.</p>

<p>При порче заменить такую панель можно только на заводе-изготовителе в течении длительного времени, так как производители не держат на складе набор запасных панелей на несколько сот тысяч евро. В отличии от производства СК <span class="color_green">Form</span><span class="color_orange">AT</span> некоторые производства находятся в Европе.</p>

<p>Иногда к плюсам пластиковых панелей относят чистоту сборки. Но при производстве панелей на заводе-изготовителе даже из фанеры сборка по месту скалодрома довольно чистая.</p>

<p>Что касается прозрачных панелей из поликарбоната, то они классно смотрятся как аттракцион над бассейнами, а также в тех местах, где необходимо, чтобы скалодром не закрывал других видов.</p>

<p>Скалодромы из бетона создаются практически с любым набором свойств для скалолазания, образуя натуральный рельеф любой формы. Одно из преимуществ такого скалодрома – возможность создания весьма сложной конструкции, к которой вызывается особый интерес.</p>

<p>В целом, у каждой из панелей есть ряд преимуществ, и каждый из них удовлетворяет свои потребности: быстрая окупаемость, увеличение среднего чека, расширение ассортимента или усиление привлекательности Вашего существующего бизнеса, модный тренажер для привлечения новых клиентов, уникальность, отстройка от конкурентов, желание тренировать спортсменов-чемпионов, модный якорный объект, <a href="[[++site_url]]poleznyie-materialyi/books-download">хорошее вложение денег</a> и пр.</p>

<h3>Деревянный скалодром</h3>

<p>Подведя итоги, можно сказать, что скалодромы из фанеры пользуются наибольшим спросом, это самый распространенный вариант. Обусловлено универсальностью и самой низкой ценой среди других материалов для каркаса скалодрома.</p>
Хотите получить больше информации, касательно <strong>панелей для скалодрома</strong>? Возникли вопросы? Связывайтесь с нами! <a href="[[++site_url]]contacts">Контакты</a>.

