﻿<p>В данной публикации мы начинаем перечень ошибок при <a href="[[++site_url]]nashi-uslugi/proekt-skalodroma-proektirovanie-skalodroma">планировании и проектировании скалодромов</a>. Вначале можно выделить несколько основных ошибок, и каждый раз мы будем расширять этот список с целью минимизации таких ошибок в вашем скалодроме.</p>

<p><strong><srong>Ошибка №1</srong></strong> заключается в том, что не учитываются технические параметры помещения, куда планируют разместить скалодром. К примеру, бывают случаи, когда не учитывают материалы, из которых сделаны стена, пол, крыша, а также перекрытия, к которым можно прикрепить конструкцию скалодрома. Когда мы начали строительство нашего самого первого скалодрома, стало очевидно, что одна из стен состоит из пеноблоков, с которыми нельзя взаимодействовать. Исходя из этого, мы были вынуждены экстренно строить новую стену, состоящую из металлический опор, перекрытий. Если говорить о скалодроме на открытом грунте, то стоит учесть особенности конкретного грунта и сделать проектный расчет фундамента.</p>


<p><strong>Ошибка №2</strong> заключается в месте, где будет размещен скалодром. Один из наших скалодромов размещен в промышленной зоне, где поблизости нет жилья. Это оказалось большой ошибкой, так как исправить это практически невозможно - перенос большого спортивного скалодрома. Если Вы сделали выбор в пользу конкретного места и не имеете каких-либо альтернатив, где можно еще разместить скалодром, то это может стать большой проблемой для Вас. Также в том случае, если директор парка или руководитель ТРЦ укажет Вам на необходимость искать новое место по причине того, что в данном месте проходят, к примеру, инженерные сети, либо скалодром не подходит к общему дизайну. У Вас не будет выбора - придется искать новое место. Если же у Вас в голове есть 2-3 места, Вы всегда сможете подготовить встречное предложение - предложить разместить скалодром как в одном месте, так и в другом. Детальнее читайте в нашей книге-подборке <a href="[[++site_url]]poleznyie-materialyi/books-download">"27 Техник получения места для скалодрома"</a>.</p>

<p><strong>Ошибка №3</strong> заключается в размере. Важно учесть размер скалодромов, это относится как к развлекательным, так и спортивным. Дело в том, что Вы можете рассчитывать на один поток клиентов, а приходит совсем другой. Скалодром превышает пределы, что есть нехорошо. Если говорить о спортивных скалодромах, то тут стоит учесть, что чем больше скалодром, тем большее количество людей может его посетить одновременно.</p>

<p><strong>Ошибка №4</strong> заключается в том, что в скалодроме отсутствует фишка/изюминка Одна из важнейших составляющих - фишка заведения. Вы должны честно ответить себе на вопрос: "Почему ходить будут именно ко мне?". Это может проявляться в уютности, разнообразности занятий, функциональности, полезности, развлекательном акценте или же спортивном. Также стоит учесть и дизайн скалодрома. Практика показала, что дизайн довольно важен.</p>

<!-- embed video -->
  <p>&nbsp;</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PDdhq3CjF04" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->

<p><strong>Ошибка №5</strong> заключается в сложности <a href="[[++site_url]]nashi-uslugi/postroenie-marshrutov">трассы</a>: слишком сложно или слишком просто. Стоит учесть, что чем сложнее будут трассы, тем больше спортсменов будут ходить к Вам. Если скалодром развлекательный, то есть аттракцион, то трассы должны быть гораздо проще, чем на спортивном скалодроме. Связано это с тем, что дети очень сильно устают на тяжелых трассах. 1-3 минуты и сил не остается, при этом дети не достигают вершины. Вряд ли они захотят повторно заняться скалолазанием, а это, в свою очередь, повлияет на средний чек и повторность продаж.</p>

<p><strong>Ошибка №6</strong>: при выборе высоты, сложности и зацеп на скалодром опираться на <a href="[[++site_url]]poleznyie-materialyi/stati/vyibor-postavshhika-skalodroma-ili-kak-kupit-skalodrom">заключение скалолазов-спортсменов</a> без учета <a href="[[++site_url]]nashi-uslugi/biznes-skalodrom-otkrut-skalodom-otkrutie-skalodroma">решения маркетологов</a></p>

<p>Конечно, мнение спортсменов очень важно, если вы строите спортивный клуб. Но, как правило, в наших краях, за редким исключением, есть небольшое число активных спортсменов, которые будут посещать ваш скалодром. А спортсмены любят создавать тренировочные трассы для детей и взрослых, а не продавать как можно больше услуг. Поэтому они стараются делать трассы как можно сложнее, чтобы можно было их проходить несколько дней подряд и в конце концов пройти лишь на n-й день. Поэтому необходимо объединять знания спортсменов и маркетологов.</p>

