﻿<p>Мюнхенский скалодром <strong>Thalkirchen</strong>, построенный в 1999 году, был рассчитан на 55 000 посетителей в год. Переполненный любителями скалолазания, он уже в 2009 году, еще до своего увеличения, принял 185 000 клиентов. До реконструкции одно посещение стоило <strong>от 4,5 до 14,5 евро</strong>. Среда - самый посещаемый день за все время существования скалолазного комплекса, за день его посещало 650 спортсменов-скалолазов. Порой живая очередь представляла собой 2-3 группы скалолазов возле каждого маршрута!</p>

<p>В феврале 2011 года был открыт расширенный <strong>Мюнхенский скалолазный центр</strong>. Уже в первые недели скалолазы были впечатлены, поскольку в новом клубе оказалось <strong>7 800 кв.м.</strong> <a href="[[++site_url]]texnologii/materialyi-skalolaznyix-panelej,-paneli-dlya-skalodroma">скалолазных поверхностей</a>.</p>

<p><img alt="Мюнхенский скалолазный центр" src="IMAGES/samui bolshoi skalodrom v mire.jpg" title="Самый большой скалодром в мире. Фото" /></p>


<!-- embed video -->
  <p>&nbsp;</p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nJ5HpZ2DGYg" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>&nbsp;</p>
<!-- embed video -->

<p>В новом скалолазном центре размещаются как скалодромы <a href="[[++site_url]]vidyi-skalodromov/sportivnui-skalodrom/vidyi-sportivnyix">на трудность, так и боулдеринг-залы</a>. Тут только одного боулдеринга на <strong>1 200 кв.м.</strong> А высота стен достигает 25 метров. Здесь около 555 маршрутов. К тому же, скалолазные тренажеры размещены как внутри множества помещений, так и на улице. Здесь можно встретить всевозможные скальные рельефы и плоскости на любой вкус.</p>

<p>Для детей и юношей создана зона с пиратским кораблем и скалолазным замком. Несколько мостов, лестниц и скрытых переходов не оставят никого равнодушным.</p>

<p>Ориентировочная стоимость только новой части скалодрома составила около <strong>4,7 млн евро</strong>.</p>

<p>Благодаря таким скалодромам скалолазание превращается в спорт для широких масс.</p>

<p><img alt="Скало-парк" src="IMAGES/skalolaznui centr.jpg" title="Профессиональный скалолазный центр для людей всех возрастов. Фото" /></p>
