﻿<p>Высочайший скалодром в мире располагается в городе Гронингем (Голландия). Экскалибур - его название. Высота данного скалодрома составляет 37 метров, что приравнивается высоте дома, где 12 этажей. Нависание составляет 11 метров. Центр для скалолазания Excalibur - конструкция, возведенная в 2004 году, спроектирована она была в форме меча в камне.</p>

<p><img alt="Самый высокий скалодром" src="IMAGES/samui vusokii skalodrom v mire.jpg" title="Скалодром Эскалибур. Фото" /></p>
