﻿
<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для спортклуба" src="IMAGES/skalodrom v sportklyb.jpg" title="Скалодром в спортивные клубы, комплексы и базы. Фото" />
                <h4>Спортклубы, комплексы, центры для скалолазания</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в фитнес-клубе" src="IMAGES/skalodrom v fitness centr.jpg" title="Скалодром в фитнес-центре. Фото" />
                <h4>Фитнес-центры</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для кросс-фит" src="IMAGES/skalodrom dlya crossfit.jpg" title="Кросс-фит на скалодроме. Фото" />
                <h4>Кросс-фит</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zQySZbIMYQ4" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->



<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в учебном заведении" src="IMAGES/skalodrom v sportzal.jpg" title="Скалодром для школы. Фото" />
                <h4>Спортивные залы учебных заведений (школы, вузы…)</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в лечебном центре" src="IMAGES/skalodrom v reabilitacuonnui centr.jpg" title="Скалодром для реабилитационного центра. Фото" />
                <h4>Реабилитационные и лечебные центры</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром на частном предприятии" src="IMAGES/skalodrom v sportzal chastnogo predpriyatiya.jpg" title="Скалодром для спортивного зала частного предприятия. Фото" />
                <h4>Спортивные залы частных предприятий, cпортивные центры</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->

<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в загородном доме" src="IMAGES/skalodrom v zagorodnui dom.jpg" title="Скалодром на даче. Фото" />
                <h4>Жилые комплексы, коттеджные поселки и загородные дома</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для базы отдыха" src="IMAGES/skalodrom dlya bazu otduxa.jpg" title="Скалодром для базы отдыха, для курортов. Фото" />
                <h4>Гостиничные комплексы, базы отдыха, курорты</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для детского лагеря" src="IMAGES/skalodrom dlya detskogo lagerya.jpg" title="Скалодром для детей. Фото" />
                <h4>Детские лагеря</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->

<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодрома для МЧС" src="IMAGES/skalodrom dlya MCHS.jpg" title="Скалодром для профессионального использования. Фото" />
                <h4>МЧС</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для воинской части" src="IMAGES/skalodrom dlya voennuh.jpg" title="Скалодром для военных. Фото" />
                <h4>Воинские части</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в помещении" src="IMAGES/otdelnoe pomeshenie dlya skalodroma.jpg" title="Скалодром в отдельном помещении. Фото" />
                <h4>Отдельные помещения для скалодромов</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->


