﻿<img alt="Спортивный детский скалодром" src="IMAGES/sportivnui skalodrom darit emocii.jpg" title="Дети на спортивном скалодроме. Фото" class="rightimg" />

<!-- check list -->
  <ul class="number">
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>Приоритет спортивного скалодрома по сравнению с другими спортивными сооружениями и другими видами бизнеса:</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>кто в детстве не любил лазать и искать приключения?! Теперь это безопасно!</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>в скалолазании нет «не могу», «нереально», «невозможно»</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>восторг от покорения вершины</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>лучшее место, где можно доказать себе, что ты можешь</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>счастливые дети и родители</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>возможность преодолеть свои страхи</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>крутые фото и видео: будет что вспомнить и показать в соц. сетях друзьям и далеким родственникам</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>дает заряд бодрости и желание достигать</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>незабываемые и несравнимые ни с чем ощущения</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>уникальная возможность увидеть свой ежедневный относительный успех (то, что вчера было недостижимым, сегодня стало реальностью)</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>у каждого ребенка и взрослого удовлетворяется жизненная потребность (доказать, продемонстрировать, посоревноваться, полазить)</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>экстрим для детей и взрослых</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>радость от физической нагрузки</p>
    </li>
  </ul>
<!-- check list -->




<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rwxGS_qTnB0" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
