﻿          <div class="row">
            <div class="col-sm-6">
              <div class="link-block">
                <img alt="baks" src="IMAGES/infoicon-baks.png" />
                <p><a href="[[++site_url]]nashi-uslugi/biznes-skalodrom-otkrut-skalodom-otkrutie-skalodroma">Скалодром как бизнес-проект</a>, служащий хорошим и перспективным источником дохода</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="link-block">
                <img alt="flag" src="IMAGES/infoicon-flag.png" />
                <p>Скалолазная стенка как средство для проведения соревнований</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="link-block">
                <img alt="climbing" src="IMAGES/infoicon-climbing.png" />
                <p>Для спортивных занятий, физических нагрузок на все мышечные группы</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="link-block">
                <img alt="man" src="IMAGES/infoicon-man.png" />
                <p>Cкалодром для профессиональных целей (МЧС, военные, специальные подразделения)</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-offset-3">
              <div class="link-block">
                <img alt="mountines" src="IMAGES/infoicon-mountines.png" />
                <p>Как средство активного отдыха, развлечения</p>
              </div>
            </div>
          </div>




<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nJ5HpZ2DGYg" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

          <p>
            Скалодром – это перспективный бизнес-проект, который отличается от других, в первую очередь, крайне быстрой окупаемостью. Используя маркетинговые стратегии, бизнес-план и организацию работы, предоставляемые <strong>CK FormAT</strong>
            , есть возможность окупить скалодром за 3 месяца, то есть можно купить скалодром к летнему сезону и уже в конце лета сосредоточиться на получении чистой прибыли.
          </p>

          <p>
            Скалодром – идеальное место для проведения различных соревнований. Можно соревноваться как в скорости, выносливости, так и в дистанции. Не просто так скалолазание входит в Олимпийские игры. Множество интересных заданий и квестов можно соорудить, что привлечет как участников Вашего проекта, так и зрителей, которые будут наблюдать за происходящим, фотографировать и делиться со своими друзьями в социальных сетях.
          </p>

          <p>
            Скалодром – прекрасный способ улучшить свою физическую силу, укрепить кости и суставы, развить моторику тела. Многие врачи, в свою очередь, рекомендуют скалодром детям, так как он воздействует абсолютно на все мышцы и, помимо физических способностей, развивает и интеллектуальные: постоянно приходится решать те или иные задачки на скалодроме.
          </p>

          <p>
            Скалодром – это и активный отдых, само собой. Многие люди посещают развлекательные скалодромы, чтобы отдохнуть, хорошо провести время, а скалолазная стенка дает такую возможность всем желающим.
          </p>

          <p>
            Скалодром – это не только спорт, развлечение. Скалодромы также используют для профессиональных целей. Альпинистские стенки покупают военные, МЧС, спец. подразделения. Скалодром позволяет поддерживать и улучшать навыки, которые требуются всем людям данных профессий.
          </p>


