﻿<img alt="Бизнес-скалодром" src="IMAGES/sportivnui skalodrom - pribulnui biznes.jpg" title="Спортивный скалодром как бизнес. Фото" class="rightimg" />

<p>Спортивный скалодром - это <strong>прибыльный бизнес</strong>. Все строится на ниже перечисленных моментах:</p>

<!-- check list -->
  <ul class="number">
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>постоянные клиенты Вашего скалодрома, которые приобрели абонементы - целевая аудитория, которая занимается скалолазанием на протяжении долгого или же относительно долгого времени</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>разовые посещения Вашего скалодрома людьми, которые захотели почувствовать на себе что-то новое или же просто отдохнуть непривычным для себя способом. Это популярная категория людей</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>визиты скалодрома, которые осуществляются группами людей. Это могут быть как различные корпоративы, так и праздничные мероприятия</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>фестивали спортивного характера, а также всевозможные соревнования по скалолазанию, проводимые в Вашем клубе</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>Спортивный скалодром - это выгодно, прибыльно, о чем можно смело говорить, основываясь на нашем многолетнем опыте. Правильный маркетинг и система управления - ключ к успеху. Также не стоит и забывать про накопленный опыт, которым компания <strong>CK FormAT</strong> делится со своими клиентами.</p>
    </li>
  </ul>
<!-- check list -->



<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BkSfuOLLYOY" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
