﻿<!-- check list -->
  <ul class="number">
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>высокая пропускная способность</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>прибыль постоянно растет</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>работа с постоянными клиентами, высокая повторность</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>минимальный состав инструкторов</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>нет необходимости в постоянном техническом персонале</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>нечему ломаться</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>маленькая амортизация</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>быстрая обновляемость (1 ночь) за счет имеющегося оборудования</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>широчайший выбор конфигураций</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>детские и взрослые группы, подходит от 2 до 100 лет</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>непередаваемые ощущения экстрима в любом возрасте</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>низкие энергозатраты</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>отсутствие строгих стандартов, есть всевозможные комплектации и конфигурации</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>все детали и комплектующие отечественного производства, которые Клиент может приобрести самостоятельно</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>в Европе и США очень популярное направление, а в СНГ только начало развития</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>высокая повторность посещения за счет отсутствия конкуренции</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>очень маленькая занимаемая площадь (стена)</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>нет необходимости в профессиональных инженерах, программистах или пр. сложных специалистах</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>идеально подходящее место для проведения различных праздников: дни рождения, корпоративы и прочие мероприятия</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>классная группа людей, в которой каждый умеет ставить и достигать свои цели</p>
    </li>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>низкая плата за аренду, так как необязательна красная линия для помещения</p>
    </li>
  </ul>
<!-- check list -->

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BkSfuOLLYOY" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
