﻿<strong>Спортивный скалодром</strong> - один из самых популярных видов скалодромов.

<p>Существует несколько основных видов спортивных скалодромов:</p>

<div class="row">
  <div class="col-sm-6">
    <p>- <a href="[[++site_url]]works-gallery/pyatigorsk">скалодром на трудность</a>;</p>
    <p>- <a href="[[++site_url]]works-gallery/xarkov">боулдеринг</a>;</p>
    <p>- эталонный скоростной скалодром;</p>
  </div>
  <div class="col-sm-6">
    <p>- <a href="[[++site_url]]vidyi-skalodromov/mobilnui-skalodrom">мобильный скалодром</a>;</p>
    <p>- <a href="[[++site_url]]vidyi-skalodromov/vodnyie">Deep Water Solo</a></p>
  </div>
</div>


<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nJ5HpZ2DGYg" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

<h3>Подробнее о видах спортивных скалодромов</h3>

<img alt="Cкалодром на сложность" src="IMAGES/skalodrom na trydnost.jpg" title="Скалодром на сложность или скорость. Фото" class="leftimg" />
<p><strong>Скалодром на сложность</strong> - <a href="[[++site_url]]poleznyie-materialyi/vse-o-skalolazanii-i-skalodromax">скалолазная дисциплина</a>, которая является довольно распространенной. Такое скалолазание считается классическим. Спортсмен лезет длинную высокую трассу. Собственно говоря, для такой разновидности скалолазания изготавливаются большие конструкции. Площадь такой скалолазной конструкции составляет не меньше 200 кв.м., а высота обычно составляет 12-15 метров. Принято считать, что чем выше такой скалодром,тем он лучше и интереснее его обывателям. Есть случаи, когда такие скалодромы имеют высоту около 30 метров и площадь не менее 1000 кв.м.! Такие скалодромы обычно стационарные, но можно встретить и мобильные - на таких скалодромах проводятся соревнования под открытым небом в США и в странах Европы, где скалолазание давно развито. Соревнования под открытым небом, как правило, привлекают большое количество людей. Это зрелищно! В роли страховки выступает веревка (<a href="[[++site_url]]texnologii/sistema-bezopasnosti">нижняя страховка</a> предназначена для опытных спортсменов, верхняя - для новичков, любителей).</p>

<img alt="Боулдеринг-скалодром" src="IMAGES/bouldering skalodrom.jpg" title="Скалодром для боулдеринга. Фото" class="rightimg" />
<p><strong>Боулдеринг</strong> - самая популярная и распространенная дисциплина скалолазания. Существенная разница между боулдеринговым скалодромом и скалодромом на трудность, о котором было сказано выше, заключается в высоте. Боулдеринг-скалодром достаточно низок, высота обычно не выше 5 метров. Это не лазание вверх. Вся прелесть такого скалодрома заключается в нависаниях, которые имеют разные углы наклона. Данный скалодром требует куда большей акробатики, техники и силовых упражнений, от чего более интересен наблюдающим за процессом, а также самим спортсменам. Боулдеринг - это то, что обязано быть в каждом скалолазном центре, некий "must have", как говорят англичане. Если говорить о страховке, то тут используется другой тип страховочной системы, а именно спортивные маты. <a href="[[++site_url]]texnologii/sportivnyie-matyi-dlya-skalodromov">Маты</a> делаются и устанавливаются так, чтобы в момент падения спортсмен не промахнулся мимо матов. И вполне логично, что для такого скалодрома требуется куда меньше площадь.</p>


<img alt="Скалодром на скорость" src="IMAGES/skalodrom na skorost.jpg" title="Скалодром на скорость. Фото" class="leftimg" />
<p><strong>Эталонный скоростной скалодром</strong> был создан в 2005 году, делалось это для того, чтобы ускорить процесс попадания скалолазания в Olympic Games (Олимпийские игры). Данный скалодром - скалодром, на котором проводится большая часть соревнований, а всё почему? По той причине, что он строго регламентирован (трассы скалодрома), все спортсмены имеют абсолютно равные, одинаковые условия: отрицательный наклон плоскости составляет ровно 5 градусов, скалолазные зацепы определенной формы, которая утверждена IFSC. Такие скалодромы бывают двух видов:</p>

<p>1. Стандартный: высотой 15 метров;</p>

<p>2. Состоящий из двух блоков: высотой 10,5 метров.</p>

<div class="clearfix"></div>

<img alt="Мобильный скалодром" src="IMAGES/mobilnui skalodrom nad vodoi.jpg" title="Мобильный компактный скалодром. Фото" class="rightimg" />
<p><strong>Мобильный скалодром</strong>. Это невысокий до 6 метров по высоте скалодром, который отличается своим легким перемещением и предназначен для выездных спортивных мероприятий.</p>

<img alt="Скалодром над бассейном" src="IMAGES/skalodrom nad basseinom.jpg" title="Скалодром над водой. Фото" class="leftimg" />

<p><strong>Deep Water Solo</strong> - особенный скалодром. Особенность заключается в том, что он располагается над бассейном. Бассейн выступает в роли страховки. Спортсмен лезет по такому скалодрому и, достигнув логичного завершения маршрута, прыгает в воду, что является абсолютно безопасным.</p>

<div class="clearfix"></div>

<p>Вас заинтересовал <strong>спортивный скалодром</strong>? Связывайтесь с нами, чтобы получить больше информации! <a href="[[++site_url]]contacts">Контакты</a>.</p>

