﻿<img alt="Девушка на скалодроме" src="IMAGES/skalodrom - eto welness.jpg" title="Девушка на спортивном скалодроме. Фото" class="rightimg" />

<!-- check list -->
  <ul class="number">
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>это и спорт, и тренировки, и фитнес, и активный отдых</p>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>это тренировка всех групп мышц, развитие мышления и силы духа</p>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>это соревнование с собой вчерашним</p>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>самая безболезненная растяжка, а также гибкость в мире</p>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>это один из самых безопасных видов спорта (к примеру, скалолазание менее травматично, чем футбол)</p>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>отличный тренажер для преодоление "не могу" в учебе, работе и личной жизни</p>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>лечение игровой и интернет зависимости</p>

    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>сначала учишься думать, а потом делать</p>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>обучение терпению, решению "неразрешимых" задач, умению найти выход из любой ситуации в жизни</p>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>на спортивных скалодромах царит атмосфера поддержки и успеха</p>
    <li>
      <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
      <p>нет ограничений по весу, полу или физической подготовке</p>
  </ul>
<!-- check list -->


<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rwxGS_qTnB0" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
