﻿          <p><strong>проектирование скалодромов</strong> (предпроектные скалолазные предложения, рабочие проекты, проекты КМД и КМ)</p>

          <p class="text-center">
            <img src="IMAGES/proekt skalodroma.jpg" alt="Проекты скалодромов" title="Проектирование скалодрома. Заказать проект скалодрома. Фото" class="liftimg" />
          </p>

          <p>СК FormAT разрабатывает проекты, изготавливает и монтирует несущие металлоконструкции скалодромов в соответствии с нормативом СП 31-115-2008, часть 4 «экстремальные виды спорта» от 04.04.2009, СП 53-101-98, ГОСТ 23118-99, СП 20.13330.2011 «Нагрузки и воздействия. Актуализированная редакция СНиП 2.01.07-85», - СП 53.13330.12 «Общие правила проектирования стальных конструкций», и европейским стандартом EN 12572 «Искусственные сооружения для скалолазания - страховочные крепления, требования к устойчивости и методы испытания». Получается, что заказывая у нас скалодром, Вы вместо с готовым продуктом получаете гарантированно полный комплект документов, удовлетворяющий любые органы проверки.</p>

          <div class="clearfix">&nbsp;</div>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I3wWXUc2pbk"></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

<div class="row">
  <div class="col-sm-6">
    <div class="thumbnail">
      <img src="IMAGES/raschet nagryzki skalodroma.jpg" title="Расчет нагрузок скалодрома на конструкции здания. Фото" alt="Нагрузки на скалодром" />
      <div class="caption">
        <h5>Расчет нагрузок скалодрома на конструкции здания (стены, потолок, фундамент, перекрытия)</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img alt="Автоматическая страховка. Скалодром" src="IMAGES/planirovanie skalodroma, podbor zacep.jpg" title="Подбор скалолазных зацеп. Построение скалолазных маршрутов. Фото" />
      <div class="caption">
        <h5>Внутреннее планирование (планировки, подбор зацеп, построение маршрутов, разбивка по уровням сложности, расчет точек крепления страховок)</h5>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="thumbnail">
      <img alt="Визуализация скалодрома" src="IMAGES/3d skalodrom.jpg" title="Визуализация технического проектного предложения скалодрома. Фото" />
      <div class="caption">
        <h5>Визуализация технического проектного предложения в autocad или solid works</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <img alt="3Д скалодром" src="IMAGES/3d visualisation.jpg" title="3-д визуализация скалодрома. Фото" />
      <div class="caption">
        <h5>3-d визуализация</h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="thumbnail">
      <img alt="Моделирование скалодрома" src="IMAGES/3-d model skalodroma.jpg" title="Модель скалодрома. Фото" />
      <div class="caption">
        <h5>3-d видео</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="thumbnail">
      <div class="caption">
        <img alt="Макет скалодрома" src="IMAGES/model skalodroma.jpg" title="Макетирование скалодрома. Фото" />
        <h5>Макет скалодрома</h5>
      </div>
    </div>
  </div>
</div>

          <p>Разработанная 3D модель скалодрома в электронном или распечатанном виде как картинка далеко не во всех случаях дает глубокое понимание о конструкции скалодрома в целом и его деталей. В связи с этим СК FormAT предлагает своим клиентам цифровую 3D визуализацию скалодрома в движении (ролик-анимация). Эта программа дает возможность увидеть скалодром абсолютно со всех сторон, что очень удобно, а также посмотреть любые его углы, увидеть конечную визуализацию и как скалодром будет смотреться с разных сторон для посетителей. Таким образом можно на старте избежать нежелательных или непредусмотренных моментов (отсутствие видимости конкретных частей или блоков, загораживание, темнота, общий вид и впечатление от скалодрома и пр.)</p>

          <img class="rightimg" src="IMAGES/ylica i skalodrom.jpeg" alt="Скалодром. Улица" title="Скалолазание для детей и взрослых на свежем воздухе. Фото" />

          <p>
            <img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png" /> Макетирование и моделирование
          </p>


          <p>
            <img class="leftimg_ico" src="img/services/ico/ico_check.png" alt="ico_check"  /> Выезд специалистов к Заказчику
          </p>

          <p>
            <img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png" /> Разработка концепции, планирование и проектирование скалолазных центров под ключ.
          </p>

          <p>
            <img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png" /> Консалтинг (создание бизнес-плана, рекомендации по месту размещения, зонированию и наполнению спортивных скалодромов, оптимизация схем маршрутов под целевую аудиторию с возможностью дальнейшего обновления и перестройки маршрутов, выбор наборов зацеп и рельефов.
          </p>

          <div class="clearfix">&nbsp;</div>

          <p>Хотите подробнее узнать о скалодроме-боулдере? Связывайтесь с нами.
            <a href="contacts"> Контакты</a>.</p>

