﻿
<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I3wWXUc2pbk"></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

          <ol class="number">
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_1.png" />
              <p>получение информации и задания Заказчика:</p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_2.png" />
              <p>коммерческое предложение</p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_3.png" />
              <p>
                предпродажное обслуживание: проектирование, планирование, зонирование, визуализация, моделирование, подготовка концепции, выезд специалистов и пр.
              </p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_4.png" />
              <p>подписание контракта</p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_5.png" />
              <p>
                производство, доставка и
                <a href="[[++site_url]]nashi-uslugi/proizvodstvo-skalodromov">монтаж либо шеф-монтаж</a>
                скалодромов
              </p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_6.png" />
              <p>
                установка
                <a href="[[++site_url]]nashi-uslugi/ustanovka-straxovochnogo-oborudovaniya">страховочного оборудования</a>
                , страховочных
                <a href="[[++site_url]]texnologii/sportivnyie-matyi-dlya-skalodromov">матов</a>
              </p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_7.png" />
              <p>
                <a href="[[++site_url]]nashi-uslugi/postroenie-marshrutov">построение маршрутов (трасс) по сложности</a>
              </p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_8.png" />
              <p>испытания (тестирование) скалодрома</p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_9.png" />
              <p>
                <a href="[[++site_url]]nashi-uslugi/peredacha-gotovogo-skalodroma">передача готового скалодрома Заказчику</a>
              </p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_10.png" />
              <p>
                <a href="[[++site_url]]nashi-uslugi/servis">сервис</a>
              </p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_11.png" />
              <p>
                <a href="[[++site_url]]nashi-uslugi/obuchenie-i-sistema-trenirovok">обучение, тренировки</a>
              </p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_12.png" />
              <p>
                <a href="[[++site_url]]nashi-uslugi/biznes-skalodrom-otkrut-skalodom-otkrutie-skalodroma">эксклюзивные бизнес-услуги</a>
                &nbsp;
              </p>
            </li>
            <li>
              <img alt="ico" class="leftimg_ico" src="img/services/ico/ico_13.png" />
              <p>
                <a href="[[++site_url]]nashi-uslugi/posleprodazhnoe-sotrudnichestvou">сотрудничество после продажи (послепродажное)</a>
              </p>
            </li>
          </ol>


          <h2>Производство скалодрома. Монтаж скалодрома</h2>

          <p>Остановимся более детально на производстве и монтаже скалодромов. Стоит отметить, что монтаж скалодрома осуществляется в удобное для Вас время. Бывает так, что скалодром необходимо установить в учебное заведение, где проводятся уроки или же лекции. В таких случаях монтаж скалодрома производится в ночное время суток, чтобы не мешать занятиям. Но лучше, конечно, заниматься монтажом во время каникул. Само производство скалодрома происходит в г. Старый Оскол (Россия) или г. Харькове (Украина).</p>

          <p>
            <img class="leftimg" src="IMAGES/panel iz faneru dlya skalodroma.jpg" alt="Скалодром из фанеры" title="Сделать скалодром своими руками из фанеры. Фото" />
          </p>

          <p>Если вы хотите купить скалодром или для начала узнать <a href="[[++site_url]]poleznyie-materialyi/faq/skolko-stoit-skalodrom-stoimost-skalodrom-skalodrom-tsena">цену скалодрома</a>, позвоните (ссылка на телефоны в контактах) или напишите (ссылка на е-мейл в контактах) нам свои вопросы и пожелания. Для более точного расчета необходимо предоставить информацию о высоте, ширине, сложности (нависания, потолки…) скалодрома, целевой аудитории (дети, юноши, взрослые, смешанные целевые аудитории) и месте размещения скалодрома.</p>

          <p>В случае, если <a href="[[++site_url]]poleznyie-materialyi/stati/sdelat-skalodrom-stena-dlya-skalolazaniya">вы хотите построить скалодром своими руками</a>, тогда можете приобрести у нас как стандартные, так и нестандартные <a href="[[++site_url]]texnologii/paneli-dlya-skalodroma">скалолазные панели</a> под ваши размеры и формы. При этом, сами панели изготавливаются как <a href="[[++site_url]]texnologii/osobennosti-skalolaznyix-panelej">из фанеры</a>, так и из имитирующего скальный рельеф пластика.</p>

