﻿          <h3>
            <a href="[[++site_url]]texnologii/sistema-bezopasnosti">Виды страховок:</a>
          </h3>

          <p>
            <img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png" /> верхняя страховка
          </p>

          <p>
            <img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png" /> нижняя страховка
          </p>

          <p>
            <img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png" /> автоматическая страховка
          </p>

          <p>
            <img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png" /> крэш-пэды (спортивные маты)
          </p>

          <p>
            <img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png" /> бассейн
          </p>

          <p> <strong>Страховка (скалолазная)</strong>
            — "инструмент", который позволяет избежать получение травм.
          </p>

          <h3>Безопасность</h3>

          <p>
            Преследуя цель обеспечения безопасности работы со спортивными скалодромами, наше предприятие использует только сертифицированное страховочное оборудование, а также стандартизированные точки крепления страховок, соответствующие требованиям и стандартами UIAA.
          </p>

          <p>
            Каждый спортивный скалодром нашего производства тестируется профессиональными спортсменами и специалистами.
          </p>

