﻿
<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_4NmoUgEeZM"></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

          <p class="text-center"> <strong>производство скалодромов</strong>
            (
            <a href="[[++site_url]]texnologii/karkas-skalodroma">каркаса</a>
            и
            <a href="[[++site_url]]texnologii/paneli-dlya-skalodroma">панелей</a>
            )
          </p>

          <p>&nbsp;</p>

          <p class="text-center">
            <img alt="Производство скалолазных панелей" src="IMAGES/karkas skalodroma.jpg" title="Каркас для скалодрома. Широкий выбор! Фото" />
          </p>

          <h3>Производство дополнительного оборудования для скалодромов</h3>
<div class="row">
          <div class="col-sm-6">
            <img alt="Производитель скалолазных матов" src="IMAGES/sport matu dlya skalodromov.jpg" title="Толстые маты для скалодрома. Фото" />
            <p>&nbsp;</p>

            <p>
              <a href="[[++site_url]]texnologii/sportivnyie-matyi-dlya-skalodromov">страховочных матов</a>
              любых размеров и форм
            </p>
          </div>

          <div class="col-sm-6">
            <img alt="" src="IMAGES/raznoobrazie zacep dlya skalodroma.jpg" />
            <p>&nbsp;</p>

            <p>скалолазных зацеп</p>
          </div>
</div>
<div class="row">
          <div class="col-sm-6">
            <img alt="Производство finger-board" src="IMAGES/skalolaznui tranajer.jpg" title="Производитель фингербордов и систембордов. Фото" />
            <p>&nbsp;</p>

            <p>
              скалолазных тренажеров (finger-board,
              <a href="[[++site_url]]vidyi-skalodromov/systemboard">campus-board, system-board</a>
              и др.)
            </p>
          </div>

          <div class="col-sm-6">
            <img alt="Производитель скалолазных рельефов" src="IMAGES/relief skalodroma.jpg" title="Рельефы для скалодрома от CK FormAT. Фото" />
            <p>&nbsp;</p>

            <p>рельефов и геометрических форм</p>
          </div>
</div>

          <hr />
          <p>
            подготовка к транспортировке, упаковка, организация доставки, прием скалодрома по месту установки
          </p>

          <p>
            <img alt="Доставка скалодрома" src="IMAGES/dostavka skalodroma.jpg" title="Доставка и установка скалодромов по СНГ. Фото" />
          </p>

          <p class="text-center">монтаж (шеф-монтаж) скалодрома на месте</p>

          <p class="text-center">
            <img alt="montaj skalodroma" src="IMAGES/montaj skalodroma, sk format.jpg" />
          </p>

          <p>
            Одно из наших уникальных преимуществ заключается в том, что мы производим скалодромы и скалолазные тренажеры как на своих
            <a href="[[++site_url]]contacts">двух производственных базах</a>
            , так и по месту Заказчика по его выбору. В связи с тем, что страны СНГ, особенно Россия, большие по размерам и территории, зачастую возникает вопрос разумной цены и реальных сроков доставки скалодромов. Например, в Магадан доставка спортивного скалодрома будет очень дорогой, порой
            <a href="[[++site_url]]poleznyie-materialyi/faq/skolko-stoit-skalodrom-stoimost-skalodrom-skalodrom-tsena">стоимостью</a>
            самого скалодрома. Поэтому мы нашли решение для таких случаев. Наша бригада специалистов выезжает (вылетает) со всеми необходимыми инструментами и оборудованием, включая зацепы и страховочные системы, которые можно взять с собой, часть материалов отправляем ускоренными транспортными компаниями, а по месту закупаем только объемные и тяжелые стройматериалы, цена на которых в целом по стране одинаковая и нет смысла доставлять из центра страны. Например, целесообразно по месту закупить фанеру, деревянный брус, металл и пр. Таким образом, стоимость и сроки строительства скалодрома на Дальнем Востоке практически не отличаются от цен в Центральной России.
          </p>

          <p>
            В ряде случаев, по желанию Заказчиков, у которых есть штат строителей и своя строительная фирма, монтаж скалодрома осуществляется силами самого Заказчика под нашим шеф-монтажом. Зачастую это связано с желанием уменьшить окончательную стоимость скалодрома за счет экономии на проезде, проживании и командировочных монтажников производителя, которых можно избежать при наличии своего квалифицированного персонала. В этом случае шефмонтаж помогает избежать лишних расходов и неудобств. На место монтажа приезжает наш инженер, и монтаж идет под его чутким руководством силами Заказчика.
            <br />
            Если же Вы хотите заказать шеф-монтаж скалодрома, то мы готовы полностью произвести скалодром, предоставив нашего специалиста для руководства процессом монтажа, а также обеспечить вас техническими инструкциями по строительству, маркетинговыми материалами и системами тренировок.
          </p>
