﻿          <p>В начале нашего общения мы изучаем потребности и детали будущего проекта и проводим предварительный анализ. Перед тем, как приступить к разработке концепции, предпроектных предложений и <a href="[[++site_url]]poleznyie-materialyi/faq/skolko-stoit-skalodrom-stoimost-skalodrom-skalodrom-tsena"> калькуляции стоимости</a>, наши менеджеры предлагают на изучение клиента ряд типовых решений, а также схожие решения, <a href="[[++site_url]]works-gallery">реализованные</a> нашей компанией. По итогу первого общения, мы получаем обратную связь по предоставленной документации, а также все существенные условия будущего проекта:
          </p>

          <ul class="number">
            <li>
              <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
              <p>вид скалодрома</p>
            </li>
            <li>
              <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
              <p>
                <a href="[[++site_url]]kuda-i-dlya-kogo">целевая аудитория</a>
              </p>
            </li>
            <li>
              <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
              <p>место, сроки размещения, целевое использование скалодрома</p>
            </li>
            <li>
              <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
              <p>рамки бюджета</p>
            </li>
            <li>
              <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
              <p>технические параметры и размеры скалодрома</p>
            </li>
            <li>
              <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
              <p>пожелания Заказчика к концепции и стилю.</p>
            </li>
          </ul>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I3wWXUc2pbk"></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

          <h3>Размер скалодрома</h3>

          <p>Размер скалодрома - один из самых важных моментов в проектировании скалодрома. Необходимо измерить размеры площади, которая будет отведена под скалодром совершенно точно, дабы не возникло проблемы с монтажом. В нашем штате есть специалист, который выезжает на место, где планируется установка скалодрома, чтобы дать оценку помещению, а также провести необходимые замеры, которые в последствии передаются нашим инженерам.</p>

          <h3>Цена скалодрома</h3>

          <p>Цена скалодрома зависит от вида, целевого предназначения, а также наличия или же отсутствия маркетингового пакета документов, который содержит в себе всю необходимую информацию: как правильно руководить скалодромом и получать с этого прибыль. Более подробно ознакомиться с ценами можно <a href="[[++site_url]]poleznyie-materialyi/faq/skolko-stoit-skalodrom-stoimost-skalodrom-skalodrom-tsena">тут</a>.</p>

          <h3>Коммерческое предложение</h3>

          <p>
            <img class="leftimg" src="IMAGES/kypit skalodrom, polychit kommercheskoe predlojenie na skalodrom.jpg" alt="Коммерческое предложение. Скалодром" title="Купить скалодром. Цены на скалодром в Москве и других городах СНГ. Фото" />
          </p>

          <p>На основании собранных данных, <strong>СК FormAT</strong> выдает индивидуальное коммерческое предложение, в котором обязательно содержатся несколько вариантов решения поставленных задач. Заказчик делает выбор.</p>

          <div class="clearfix">&nbsp;</div>
