<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">инспектирование безопасности и профилактический осмотр (визуальный осмотр и физическая проверка <a href="[[++site_url]]texnologii/karkas-skalodroma">каркаса</a> (несущей конструкции), креплений, <a href="[[++site_url]]texnologii/paneli-dlya-skalodroma">скалолазных поверхностей</a>, зацеп и рельефов, а также <a href="[[++site_url]]texnologii/sistema-bezopasnosti">страховочных систем</a> скалодрома; проведение ремонтных работ по устранению неисправностей; составление акта осмотра/проверки со всеми необходимыми рекомендациями)</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png"><a href="[[++site_url]]nashi-uslugi/postroenie-marshrutov">построение новых трасс и маршрутов</a> по сложности</p>

<p>Сервисное обслуживание скалодромов - далеко не самая важная часть в работе скалодрома. Объясняется это тем, что ломаться нечему, а перед сдачей скалодрома заказчику, скалодром тестируется профессиональными спортсменами-скалолазами. Если и есть неисправности, то они обнаруживаются сразу, следом устраняются. Если говорить о смене маршрутов, то нашему клиенту не обязательно обращаться к нам для смены маршрутов, так как это можно сделать с легкостью самостоятельно. Наши скалодромы разрабатываются таким образом, чтобы каждый мог справиться с этой задачей. Несмотря на всё вышесказанное, мы предоставляем гарантию на скалодромы сроком на 5 лет. В случае чего, Вы всегда можете обратиться в CK <strong>FormAT</strong> для разрешения тех или иных проблем, или же для смены, построения новых трасс.
</p>
