﻿
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="IMAGES/proektirovanie skalodromov.jpg" target="_blank"><img src="IMAGES/proektirovanie skalodromov.jpg" alt="Проектирование скалодромов" title="Проекты скалодромов под ключ. Фото" /></a>
      <div class="caption">
        <h4>Проектирование скалодромов</h4>
        <p>
          <ul>
            <li>проекты скалодромов</li>
            <li>внутреннее планирование</li>
            <li>3-d визуализация</li>
            <li>выезд специалистов к Заказчику</li>
            <li>консультации экспертов</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="IMAGES/proizvodstvo i montaj skalodromov.jpg" target="_blank"><img src="IMAGES/proizvodstvo i montaj skalodromov.jpg" alt="Монтаж скалодромов" title="Установка скалодромов под ключ. Фото" /></a>
      <div class="caption">
        <h4>Производство и монтаж скалодромов любой сложности</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="IMAGES/dopolnitelnoe oborydovanie dlya skalodroma.jpg" target="_blank"><img src="IMAGES/dopolnitelnoe oborydovanie dlya skalodroma.jpg" alt="Страховочные системы. Скалодром" title="Спортивные маты для скалодрома, скальная обувь. Фото" /></a>
      <div class="caption">
        <h4>Вспомогательное оборудование</h4>
        <p>
          <ul>
            <li>зацепы и рельефы</li>
            <li>страховочные системы</li>
            <li>спортивные маты</li>
            <li>скальная обувь</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="IMAGES/obychenie i trenirovki po skalolazaniu.jpg" target="_blank"><img src="IMAGES/obychenie i trenirovki po skalolazaniu.jpg" alt="Обучение на скалодроме" title="Набор инструкций для скалодрома. Фото" /></a>
      <div class="caption">
        <h4>Обучение и тренировки по скалолазанию</h4>
        <p>
          <ul>
            <li>инструкции</li>
            <li>видео-материалы</li>
            <li>методики и программы тренировок</li>
            <li>спортивные соревнования и фестивали</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="IMAGES/strahovochnoe oborydovanie dlya skalodroma.jpg" target="_blank"><img src="IMAGES/strahovochnoe oborydovanie dlya skalodroma.jpg" alt="Страховочное оборудование для скалодрома" title="Нижняя, верхняя, автоматическая страховки для скалодрома. Фото" /></a>
      <div class="caption">
        <h4>Установка скалолазной страховки</h4>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="IMAGES/marshrytu dlya skalodroma.jpg" target="_blank"><img src="IMAGES/marshrytu dlya skalodroma.jpg" alt="Зацепы для скалодрома" title="Скалолазные зацепы. Установка скалолазных зацеп. Фото" /></a>
      <div class="caption">
        <h4>Построение маршрутов (трасс) по сложности</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="IMAGES/zacepu dlya skalodroma.jpg" target="_blank"><img src="IMAGES/zacepu dlya skalodroma.jpg" alt="Скалолазные панели" title="Скалолазные рельефы. Скалолазные панели. Фото" /></a>
      <div class="caption">
        <h4>Изготовление скалолазных зацеп, а также рельефов</h4>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="IMAGES/tehnicheskoe obslyjuvanie skalodroma.jpg" target="_blank"><img src="IMAGES/tehnicheskoe obslyjuvanie skalodroma.jpg" title="Техническое обслуживание скалодрома, изменение маршрутов скалодрома. Фото" alt="Обслуживание скалодрома"></a>
      <div class="caption">
        <h4>Послепродажное обслуживание (техническое обследование, обслуживание, модернизация, изменение маршрутов и т.д.)</h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="IMAGES/skalolazanie.jpg" target="_blank"><img src="IMAGES/skalolazanie.jpg" title="Бизнеc-план для скалодрома. Маркетинг-пакеты для скалодрома. Фото" alt="Бизнес на скалодроме"></a>
      <div class="caption">
        <h4>Послепродажное сотрудничество</h4>
        <p>
          <ul>
            <li>обучение, тренинги</li>
            <li>маркетинг</li>
            <li>спортивные соревнования</li>
            <li>выезд на скалы (СНГ, Европа)</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>




<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_4NmoUgEeZM"></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

          <p>&nbsp;</p>

          <p>
            Компания <strong>FormAT</strong> оказывает полный комплекс услуг и работ по скалодромам на всей территории СНГ. Вы можете выбрать как полные пакеты этих услуг, которые помимо производства и монтажа включают услуги по бизнесу (обучение, маркетинг, запуск под ключ) и подходят для создания скалолазных комплексов и центров, так и отдельные услуги из большого списка, которые подходят к самым простым скалолазным стенкам.
          </p>

          <h2>Производство скалолазных зацеп и рельефов</h2>

          <p>Если Вы хотите сделать скалодром самому, то можете купить у нас скалолазные зацепы и рельефы, сделанные по всем современным требованиям. Оформить заказ Вы можете во вкладке <a href="contacts"> Контакты</a>.</p>

