<h2>Документы на скалодром</h2>


<p>При передаче готового скалодрома от компании&nbsp;<strong>FormAT</strong> Вы получаете следующий пакет документов:</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">проектную документацию на металлокаркас скалодрома с обязательной расчетной частью в виде проекта КМ или КМД, которые соответствуют Строительным нормам и правилам (СНиП) и учитывает все требования СП 31-115-2008 (наш аналог европейского стандарта EN 12572)</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">визуализацию 3-d в электронном виде</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">технический паспорт на скалодром</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">инструкцию по эксплуатации скалодрома</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">инструкцию по технике безопасности</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png"><a href="[[++site_url]]poleznyie-materialyi/faq/sertifikatyi-na-skalodrom-i-na-straxovochnyie-sistemyi">сертификаты</a> на комплектующие и дополнительное оборудование</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png"><a href="[[++site_url]]nashi-uslugi/obuchenie-i-sistema-trenirovok">обучающие программы тренировок</a></p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">методические программы для инструкторов</p>

<p><img alt="Скалолазный спортивный комплекс" src="IMAGES/SKALOLAZNUI CENTR!.jpg" />На свои скалодромы мы даем стандартную гарантию от 1 года, а при заключении договора на техническое обслуживание - до 10 лет. Чтобы выполнять требования европейского Стандарта безопасности NF 52400, конструкцию следует ежегодно тестировать и проводить работы по обслуживанию. Подписав договор на обслуживание, вы получаете расширенную гарантию сроком до 10 лет</p>


<h2>Инструкции по технике безопасности и эксплуатации</h2>

<p>Предоставляем <strong>пакет документов и материалов</strong>, где содержатся инструкции по технике безопасности, эксплуатации. Данные материалы - это <strong>опыт, накопленный за многие годы</strong>. Отмечаем, что изначально занимались строительством и продвижением своих клубов, а это означает, что прошли через многие ошибки и трудности. Наш опыт на скалодромах - залог Вашего успеха!&nbsp;</p>

