<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">обмен опытом, информацией и новостями (спорт, продажи, управление)</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">организация совместных спортивных и развлекательных мероприятий</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">участие в регулярных соревнованиях</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">выезды на скалы (СНГ, Европа)</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">продажа, покупка и обмен зацепами и рельефами</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">снабжение печатной и электронной продукцией (книги, презентации, буклеты)</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">совместное продвижение спортклубов</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">создание мирового скалолазного движения</p>

<p><img alt="ico_check" class="leftimg_ico" src="img/services/ico/ico_check.png">помощь в продвижении идеи скалолазания во всем мире</p>

<div class="clearfix">&nbsp;</div>

<h2>Участие в регулярных соревнованиях на скалодроме</h2>

<p>Став обладателем скалолазного центра или же клуба, у Вас будут периодически <strong>проводиться соревнования по скалолазанию</strong>, рассчитанные на самые различные целевые группы (дети до 10, взрослые до 30 и т.д). Компания CK <strong>FormAT</strong> с радостью выступит в качестве партнера. У нас есть опыт организации соревнований. Как и под открытым небом, так и в помещении. Соревнования на скалодроме — это модно и здорово!</p>

