﻿<p>&nbsp;</p>
<div class="well text-center"><strong>Узнайте, какие бывают <a href="vidyi-skalodromov">виды скалодромов</a>.</strong></div>
<p>&nbsp;</p>

<p><strong>Скалодром для школы</strong> - это отличный способ выделиться на фоне других школ. На видео Вы можете наблюдать фрагменты установки скалодрома в школе, располагаемой в Актау, Казахстан.</p>

<p><img alt="Скалодром в ВУЗе" src="IMAGES/skalodrom v shkole.jpg"  title="Скалодром в детский сад. Фото" /></p>

<p>Скалолазание — популярный вид спорта, это повлияло на учебные учреждения. В Европе и в США скалодромы устанавливаются в большинстве школ. К примеру, в Германии скалолазание является обязательной частью учебного процесса. <a href="[[++site_url]]poleznyie-materialyi/vse-o-skalolazanii-i-skalodromax">Занятия скалолазанием</a> - отличное средство для развития всех групп мышц. Скалодром отличается от стандартных физкультурных упражнений тем, что воздействует абсолютно на все тело человека. Это один из самых <a href="[[++site_url]]texnologii/sistema-bezopasnosti">безопасных</a> и менее травматичных видов спорта. Обусловлено это тем, что скалолазание — неконтактный вид спорта, в добавок ко всему, применяются абсолютно безопасные системы страховки.</p>


<p>При выборе скалодрома в школу, ВУЗ или детский сад, необходимо понимать все тонкости планирования и производства. Также необходимо учесть особенности учреждений, где планируется установка скалодрома.</p>

<img alt="Учебный скалодром" src="IMAGES/skalodrom v VYZe.jpg" title="Школьный скалодром. Фото" class="rightimg" />

<p>Во-первых, это совершенно разные целевые группы. То, что подойдет одной аудитории, не годится для другой. Во-вторых, это повышенная безопасность, так как скалодром размещается для детей. Нужно сделать всё, чтобы избежать нежелательных травм. В-третьих, наличие системы безопасности, когда рядом нет взрослого инструктора в тот момент, когда ребенок хочет что-то кому-то доказать или попросту похвастаться своими умениями. В-четвертых, выбор материалов, которые используются при производстве. Они должны быть абсолютно безопасными и сертифицированными. </p>

<p>Обычно в учебных учреждениях дети не имеют опыта в скалолазании или он незначительный, поэтому скалодром должен быть рассчитан на детей-новичков. Большая часть скалолазного стенда должна быть вертикальной, плоской, без круглых нависаний и отрицательных углов наклона. Само собой, скалолазный стенд должен быть предусмотрен и для тех, кто увлекается и занимается данным видом спорта. Для этого создаются сложные плоскости, а также в наличии есть большой набор скалолазных зацеп и рельефов, которые позволяют как усложнить трассу, так и сделать её легче.</p>

<p>Стоит учитывать и тот фактор, что лазание - это один из первых инстинктов любого ребенка. Перед тем, как научиться ходить, дети уже умеют ползать по полу и невысоким преградам.</p>
<img alt="Скалодром для учеников" src="IMAGES/skalodrom dlya VYZa.jpg" title="Школьная секция по скалолазанию. Фото" class="leftimg" />

<p>Хватательный и лазательный рефлексы у детей развиты с самого начала. При этом размеры детских пальцев, кистей и рук позволяют им пролазить те трассы, которые взрослым покажутся очень сложными. Этот нюанс также необходимо учитывать.</p>

<p>Поэтому скалодром для школы и скалодром для высшего учебного заведения - это разные тренажеры, разная сложность, разная геометрия, система страховок и зацеп.</p>

<p>Прежде, чем начать строительство, стоит обратить внимание на важные детали. Особое внимание следует уделить лезущим детям, а также тем, кто находится рядом. В учебных заведениях скалодром устанавливается в спортивном зале, где проводятся регулярные занятия по футболу, баскетболу, волейболу. Скалодром нужно спроектировать так, чтобы он никак не мешал проведению спортивных игр и прочим физкультурным занятиям. К примеру, скалодром должен иметь нависание при высоте от 2 м. от пола, чтобы не забирать полезную площадь.</p>

<img alt="Скалодром в училище" src="IMAGES/skalodrom dlya ychilisha.jpg" title="Скалодром для училища." class="rightimg" />

<p>Скалодром не должен перекрывать ворота, баскетбольные корзины и прочее пространство, необходимое для игр. Сложно угадать такую установку стенки, когда в учебном заведении нет детей, ибо финансирование строительства скалодромов в учебных учреждениях связано с длительным временем ожидания. По этой причине скалодром необходимо <a href="[[++site_url]]nashi-uslugi/proizvodstvo-skalodromov">сделать (произвести)</a> полностью и покрасить на заводе, а его установку сделать быстрой и максимально бесшумной. Наша компания имеет опыт установки такого скалодорома в ночное время суток за 6 часов. Несмотря на все вышесказанное, скалодром рекомендуется устанавливать в период каникул.</p>

<p>Стоит учесть визуальную составляющую скалодрома. Нужно выбрать такой дизайн, чтобы скалодром отлично вписался в спортивный зал и был полностью адаптирован, приспособлен к детской аудитории.</p>

<p>Далеко не все преподаватели физкультуры знакомы со скалолазанием, поэтому компания <strong>CK FormAT</strong> разработала <a href="[[++site_url]]nashi-uslugi/obuchenie-i-sistema-trenirovok">методику, систему обучения тренеров</a>. Также мы разработали прописанную программу тренировок для детей разных возрастов в виде пошаговой инструкции. Предоставляются и все необходимые инструкции по технике безопасности, эксплуатации скалолазных стендов в учебных заведениях.</p>

<p>Само собой, скалолазные страховочные системы, <a href="[[++site_url]]texnologii/sportivnyie-matyi-dlya-skalodromov">спортивные маты</a>, зацепы, их монтаж уже включены в стоимость скалодрома. Руководство учебного заведения получает скалодром под ключ, ничего не придется докупать отдельно!</p>

<h2>Почему эксперты рекомендуют скалолазание для детей:</h2>

<!-- check list -->
<ul class="number">
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>скалодром - это единственный комплексный тренажер, позволяющий одновременно развивать все мышечные группы, растяжку, сухожилия, связки, суставы. Также это тренировка выносливости и терпения.</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>скалодром - это единственный тренажер, который тренирует координированное одновременное взаимодействие почти всех групп мышц. Также психологические процессы находятся в состоянии целенаправленного движения + противоположные виды и типы нагрузок.</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>это соревновательный тренажер. Соревновательность возможна сразу в нескольких дисциплинах: скалолазание на скорость, сложность, выносливость, ловкость, умение решать сложные задачи, т.е. логическое мышление.</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>скалодром - прекрасное средство для отвлечение от компьютера - актуальная проблема в наши дни.</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>активный отдых от учебного процесса, который так необходим подрастающему поколению.</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>О каких заботах можно говорить, когда ты лезешь на скалодроме и в голове только одна цель - добраться до желаемой точки, преодолеть маршрут?</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>В скалолазании нет "не могу" и "невозможно". Скалодром закаляет характер и придает уверенности в себе!</p>
    <p>По этой причине так легко после тренировки на скалолазных тренажерах вернуться к обучению, когда расставлены приоритеты и жизнь начинаешь ценить превыше всего.</p>
  </li>
  <li>
    <img alt="check" class="leftimg_ico" src="img/services/ico/ico_check.png" />
    <p>Результат виден на каждой тренировке, чего нельзя сказать про другие тренажеры, где приходится ждать порою очень долго.</p>
  </li>
</ul>
<!-- check list -->


<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rwxGS_qTnB0" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->


<p>Хотите купить <strong>скалодром для школы</strong> или другого учебного учреждения? Связывайтесь с нами! <a href="contacts">Контакты</a>.</p>


