﻿<p>&nbsp;</p>
<div class="well text-center"><strong>Узнайте, какие бывают <a href="vidyi-skalodromov">виды скалодромов</a>.</strong></div>
<p>&nbsp;</p>

<img alt="Скалодром для инвалидов" src="IMAGES/skalodrom dlya ludei s ogranichennumi vozmojnostyami.jpg" title="Скалодром для людей с ограниченными возможностями. Фото" class="rightimg" />
<p>На сегодняшний день скалолазание стало доступным, и более того, прямо рекомендуется докторами всего мира для инвалидов и людей с ограниченными возможностями.</p>

<p>Во-первых, это нужно для того, чтобы такие люди также имели возможность тренировок наравне со всеми без каких-либо ограничений.</p>

<p>Во-вторых, для лечения таких болезней как ДЦП, прямо ориентировано на обучение выполнения заданий по координации движений тела.</p>

<p>Скалолазание как никакой другой вид ориентировано на выполнение этих задач. Только представьте, что у нас в скалолазном клубе <strong>FormAT</strong> занимается парень с заболеванием ДЦП, и при этом он довольно легко пролазит десятки, а порой и сотни метров за тренировку!</p>

