﻿<p>&nbsp;</p>
<div class="well text-center"><strong>Узнайте, какие бывают <a href="vidyi-skalodromov">виды скалодромов</a>.</strong></div>
<p>&nbsp;</p>



<!-- col-3 images -->
  <div class="row">
    <div class="col-sm-4">
      <div class="link-block">
        <img alt="Скалодром в спортивной базе" src="IMAGES/skalodrom v sportklybe.jpg" title="Скалодром для спортивной базы. Фото" />
        <h4>Спортивные клубы, комплексы, базы, батутные центры</h4>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block">
        <img alt="Fitness скалодром в клубе" src="IMAGES/skalodrom v fitness centr.jpg" title="Скалодром для фитнес-тренировок в спортзале. Фото" />
        <h4>Фитнес-центры, спортивные центры</h4>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="link-block">
        <img alt="Стенка для скалолазания" src="IMAGES/skalodrom dlya crossfit.jpg" title="Скалодром для кросс-фит. Универсальный скалолазный тренажер. Фото" />
        <h4>Кросс-фит, cкалодром в тренажерном зале</h4>
      </div>
    </div>
  </div>
<!-- col-3 images -->


<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PDcnysAgY_U" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->






<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для школ" src="IMAGES/skalodrom v sportzal.jpg" title="Скалодром в школе. Школьный скалодром. Фото" />
                <h4>Спортивные залы учебных заведений (школы, вузы…)</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром. Лечебный центр" src="IMAGES/skalodrom v lechebnom centre.jpg" title="Скалодром для людей с ограниченными возможностями. Фото" />
                <h4>Реабилитационные и лечебные центры</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в спортивном зале" src="IMAGES/skalodrom chastnogo predpriyatiya.jpg" title="Скалолазный стенд в спортзале. Фото" />
                <h4>Спортивные залы частных предприятий, спортивные площадки</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->



<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром. Частный дом" src="IMAGES/skalodrom v zagorodnui dom.jpg" title="Скалодром для загородного дома. Фото" />
                <h4>Жилые комплексы, коттеджные поселки и загородные дома</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Курортный скалодром" src="IMAGES/baza otduha i skalodrom.jpg" title="Скалодром для курортной зоны. Фото" />
                <h4>Гостиничные комплексы, базы отдыха, курорты</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для лагеря" src="IMAGES/skalodrom i detskii lager.jpg" title="Детский скалодром в лагере. Фото" />
                <h4>Детские лагеря, скалолазные веревочные парки</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->

<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром. МЧС" src="IMAGES/MCHS skalodrom.jpg" title="Скалодром для профессионального использования. Фото" />
                <h4>МЧС</h4>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром. Военные" src="IMAGES/skalodrom dlya voennuh.jpg" title="Милитари скалодром. Фото" />
                <h4>Воинские части</h4>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Масштабный скалодром" src="IMAGES/otdelnoe pomeshenie dlya skalodroma.jpg" title="Скалолазный центр. Фото" />
                <h4>Отдельные помещения для скалодромов, скалолазные центры</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->





<div class="clearfix">&nbsp;</div>

