﻿<p>&nbsp;</p>
<div class="well text-center"><strong>Узнайте, какие бывают <a href="vidyi-skalodromov">виды скалодромов</a>.</strong></div>
<p>&nbsp;</p>

<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в ТРЦ" src="assets/gallery/10/348.jpg" title="Развлекательный скалодром в ТРЦ. Фото" />
                <h4>Торгово-развлекательные центры</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Спортивно-развлекательный скалодром" src="IMAGES/min312c312312_304.jpg" title="Скалодром в развлекательном комплексе для детей и взрослых. Фото" />
                <h4>Развлекательные комплексы, батутные комплексы</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в парке им. Горького" src="IMAGES/skalodrom v parke Gorkogo.jpg" title="Скалодромы для парков. Фото" />
                <h4>Парки, спортивные площадки</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->


<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PDcnysAgY_U" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->


<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром над бассейном в гостинице" src="IMAGES/skalodrom dlya bazu otduxa.jpg" title="Скалодром над водой. Фото" />
                <h4>Скалодром в гостиницы, базы отдыха, ресторанные комплексы</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром для лагерей" src="IMAGES/skalodrom i malchik.jpg" title="Скалодром для детей от 2-х лет. Фото" />
                <h4>Детские лагеря, скалолазные веревочные парки</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром на пляже" src="IMAGES/skalodrom dlya plyaja.jpg" title="Пляжный скалодром. Фото" />
                <h4>Пляжи, бассейны, зоны рекреации и курорты</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->

<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром. Дом" src="IMAGES/dachnui skalodrom.jpg" title="Альтернатива шведской стенки - скалодром. Фото" />
                <h4>Квартиры, дома, дачи, жилые комплексы</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром. Развлекательного центр" src="IMAGES/skalodrom v detskom razvlekatelnom centre.jpg" title="Детское скалолазание. Безопасный экстрим. Фото" />
                <h4>Детские развлекательные центры</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в дельфинарии" src="IMAGES/skalodrom v akvaparke.jpg" title="Скалодром для дельфинария. Фото" />
                <h4>Бассейны, аквапарки, дельфинарии</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->

<!-- col-3 images -->
          <div class="row">
            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром в веревочном парке" src="IMAGES/skalodrom v verevochnom parke.jpg" title="Скалодром и веревочный парк - отличное сочетание. Фото" />
                <h4>Веревочные парки</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром. Пейнтбольный клуб" src="IMAGES/skalodrom dlya lazertag klyba.jpg" title="Скалодром для лазертаг-клуба. Фото" />
                <h4>Пейнтбольные и лазертаг-клубы</h4>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="link-block">
                <img alt="Скалодром на круизном лайнере" src="IMAGES/skalodrom na lainere.jpg" title="Скалодром - прибильный бизнес от CK FormAT. Фото" />
                <h4>Круизные лайнеры</h4>
              </div>
            </div>
          </div>
<!-- col-3 images -->










