﻿
<p><img alt="Скалодром - крутое развлечение" class="rightimg" src="IMAGES/skalodrom - eto zdorovo.jpg" title="Скалодром - это отдых, здоровье, физическая сила. Фото" /></p>

<div class="indent-regular">
  <h5>Почему скалодром - крутое развлечение?..</h5>
</div>

<p><img alt="ico" class="left_ico" src="img/services/3-4-2/ico1.png" /></p>

<p>Скалодром дарит множество позитивных эмоций благодаря регулярному преодолению "невозможно" и "не могу". Маленькие победы - именно то, что нужно людям, чтобы начать двигаться вперед!</p><hr>

<p><img alt="ico" class="left_ico" src="img/services/3-4-2/ico2.png" /></p>

<p>Ощущения и впечатления круче, чем от американских горок и различных 5D-аттракционов. Почему? Потому что Вы являетесь не пассивным, а активным участником. Все зависит исключительно от Вас</p><hr>

<p><img alt="ico" class="left_ico" src="img/services/3-4-2/ico3.png" /></p>

<p>Яркие фотографии и видеозаписи подбадривают на новые свершения, также повышают самооценку, благодаря комментариям друзей</p><hr>

<p><img alt="ico" class="left_ico" src="img/services/3-4-2/ico4.png" /></p>

<p>Домашний скалодром дает возможность заняться активным отдыхом в любое удобное время! Причем можно заниматься как самому, так и с друзьями, с семьей. Соревновательность - то, за что многие полюбили скалодром. Кто быстрее? Кто выше?</p><hr>

<p><img alt="ico" class="left_ico" src="img/services/3-4-2/ico5.png" /></p>

<p>Скалодром не надоедает, так как имеет большое количество маршрутов благодаря зацепам, которые можно легко менять, переставлять. Постоянно приходится решать какие-то задачи: как пройти конкретный маршрут, где и какое движение сделать, чтоб оно было наиболее эффективным, какой зацеп подходит для какой руки или ноги, какая последовательность движения, где можно сократить путь... Скалодромы CK FormAT разработаны так, чтобы даже детям было легко менять, переставлять, усложнять или упрощать маршруты</p>

<div class="clearfix"></div>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v8bb9Wo4SL0" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->


<p>Все чаще родители выбирают для своих детей домашние скалодромы в качестве альтернативы шведской стенки. И данный выбор вполне естественен, поскольку скалодром обладает рядом преимуществ перед последним: они сопоставимы по цене, уровень сложности можно менять вместе с ростом физического развития ребенка, лазать можно не только вверх, но и в стороны, и по диагонали, и по маршрутам; зацепы можно перекручивать, меняя маршруты и их сложность, а значит, скалодром никогда не надоест и не станет скучным, из-за разнообразия способов хватов, расположения, движений рук, ног, перемещения центра тяжести у ребенка вместе с физическим развитием идет обучение логическому мышлению и желанию достигать вершин в жизни. Как правило, начинать лазать по скалодрому можно с того возраста, когда ребенок начинает лазать в принципе.</p>
