﻿<div class="indent-regular">
  <img alt="Скалодром для всей семьи" src="IMAGES/domashnii skalodrom podhodit vsem.jpg" title="Скалодром дома - это круто! Скалодром подходит как детям, так и взрослым. Фото"/>
</div>



<p><strong>КОМУ же подходит СКАЛОДРОМ?</strong></p>

<p>Самому маленькому нашему пользователю <strong>1 год и 8 месяцев</strong>, но это рекорд.</p>

<p>С другой стороны «девушка <strong>55 лет</strong>» получила не меньший прилив бодрости на том же скалодроме.</p>

<p>Хотя и это не предел.</p>

<p>Стандартные ограничения по весу до <strong>130 кг</strong> – это больше психологический барьер, чем 4-кратный запас прочности.</p>

<p>ПОЭТОМУ мы смело рекомендуем скалодром:</p>

<ul>
  <li>детям от 2-х лет;</li>
  <li>взрослым без ограничения по возрасту, весу или росту;</li>
  <li>всей семье;</li>
  <li>гостям и дружным компаниям.</li>
</ul>

<div class="clearfix">&nbsp;</div>
<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z3E-WMZF1BA" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
