﻿<p><img alt="Скалодром дома" src="IMAGES/skalodrom v dom.jpg" title="Домашний скалодром - отличное интерьерное решение. Фото" /></p>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v8bb9Wo4SL0" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

<p>Давайте разберемся, что такое <strong>СКАЛОДРОМ</strong>.</p>

<p>Ошибочно полагать, что <strong>СКАЛОДРОМ</strong> - всего лишь зацепы на вертикальной стене.</p>

<h5>Скалодром - это:</h5>

<ul>
  <li>домашний развлекательно-развивающий, интеллектуальный тренажер в стиле активного отдыха для всех возрастных групп. Как для детей, так и для взрослых</li>
  <li>красивое решение для Вашего интерьера</li>
  <li>перемены в жизни человека: переход от компьютерной зависимости, виртуальной реальности к уверенности в себе и в своих силах. Это инструмент, позволяющий человеку прочувствовать на себе, что он смог добиться чего-то</li>
</ul>

<p><img alt="Место под скалодром" src="IMAGES/skalodrom v dome.jpg" title="Скалодром у себя дома - это здорово и удобно. Фото" class="rightimg" /></p>

<p>Какой ребенок не мечтает о кусочке джунглей и увлекательном приключении у себя дома?! Жизнь детей всегда очень насыщена различными событиями. Энергия из них просто бьет ключом. Как же малышу применить всю свою активность и не разрушить ничего дома? Именно скалодром может стать этим развлекательно-развивающим островком. Площадь любой среднестатистической детской комнаты позволяет вместить стандартный скалодром площадью 6-9 кв.м. Это буквально 2-3 метра в ширину стены на всю высоту. И этого вполне достаточно, чтобы полностью удовлетворить потребность в физической нагрузке. Иногда такие скалодромы комплектуются дополнительными веревочными лестницами, канатами, качелькой, горкой, турником или шведской стенкой.</p>

<p><strong>СК FormAT</strong> предусматривает все, чтобы ваш ребенок был счастлив, физически и логически развит, а его экстремальные приключения проходили в безопасной обстановке в любое время, независимо от того, дома ли вы или оставили непоседу самого.</p>

<p>Вовсе не обязательно, чтобы юный скалолаз со временем стал заядлым покорителем горных вершин или скал. Просто детям хочется играть, веселиться, двигаться, интересно проводить время. Они постоянно хотят куда-то залезть, покорить какую-то очередную вершину, дерево, дом, кран. Это естественное желание. Дети любопытны и познают окружающий мир, а обязанность взрослых – помочь и обезопасить свое чадо. И как классно, что это будет происходить не на стройке или гаражах, не в сомнительных местах, а дома, где есть все системы безопасности.</p>
