﻿<p>Любому ребенку для полноценного отдыха на свежем воздухе необходимо постоянно искать приключения, выдумывать что-то новое, быть в движении и веселиться. При этом такие развлечения должны быть безопасными, чтобы вы могли оставить своих детей, занимаясь делами по хозяйству или жаря шашлык на мангале. Поэтому всё чаще многие любящие родители и дедушки с бабушками перед началом летнего сезона устанавливают на даче или возле загородного дома детские спортивные или игровые площадки.</p>

<p><img alt="Скалодром для дачи" src="IMAGES/skalodrom dlya dachi.jpg" title="Дачный скалодром. Здоровый отдых на свежем воздухе. Фото" class="rightimg" /></p>

<p>И компания <strong>FormAT</strong> предлагает новый вид спортивно - развлекательного занятия - детский дачный скалодром. Это универсальный тренажер, который можно выполнить в форме стенки, башенки или даже домика. Скалодром занимает немного места и прекрасно вписывается в ландшафт!</p>

<p>Наш скалодром можно оборудовать дополнительными веревочными элементами, качелями, лесенками, горками и пр.</p>

<p>Конечно же, для каждого скалодрома предусмотрена система страховки в виде толстых спортивных матов, а для любителей большой высоты (от 3-х м) наши скалодромы комплектуются верхней системой альпинистской страховки.</p>

<p>Если вы родители или дедушки и бабушки, и хотите добавить радости ребенку от пребывания с вами на даче на свежем воздухе, закажите либо постройте сами дачный скалодром!</p>


<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z3E-WMZF1BA" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
