﻿<div class="well">
  <strong>Мы сделали все для того, чтобы обладатели скалодромов сами ответили на популярные вопросы</strong>
</div>

<h4>Сколько нужно места? Какая площадь рабочей поверхности?</h4>
<p>Скалодром занимает очень мало места, для его установки достаточно иметь отступ 10 см. от стены. Скалодром легко встанет <a href="[[++site_url]]vidyi-skalodromov/skalodrom-doma-domashnii-skalodrom/gde-razmestit-domashnij-skalodrom">в узком коридоре или же в маленькой комнате</a>. Вы можете вызвать специалиста на дом для оценки места, также можете выслать фото помещения, где хотите видеть скалодром. Мы Вам в ответ предоставим нашу 3D-визуализацию, расчет размеров и цену на скалодром.</p>


<hr />
<h4>Это надежно?</h4>
<p>Скалолазание является абсолютно надежным. Оно менее травматично, чем тот же футбол. Специалисты-скалолазы CK FormAT ежедневно испытывают скалодромы в своих спортивных скалолазных клубах.</p>

<hr />
<h4>Это безопасно?</h4>
<p>Мы предоставляем <a href="[[++site_url]]texnologii/sistema-bezopasnosti">страховочные системы</a> и <a href="[[++site_url]]texnologii/sportivnyie-matyi-dlya-skalodromov">спортивные маты</a>, отталкиваясь от высоты скалодрома, особенностей и возраста клиентов.&nbsp;&nbsp;&nbsp;</p>

<hr />
<h4>А если мне надоест? А если я захочу новые зацепы?</h4>
<p>Скалодром не надоедает, так как имеет большое количество маршрутов благодаря зацепам, которые можно легко менять, переставлять. Постоянно приходится решать какие-то задачи: как пройти конкретный маршрут, где и какое движение сделать, чтоб оно было наиболее эффективным, какой зацеп подходит для какой руки или ноги, какая последовательность движения, где можно сократить путь... Скалодромы CK FormAT разработаны так, чтобы даже детям было легко менять, переставлять, усложнять или упрощать маршруты. Зацепы можно приобрести у компании CK FormAT при покупке скалодрома или же отдельно под заказ.</p>


<hr />
<h4>Сколько прослужит скалодром и что если поломается?</h4>
<p>Предоставляется гарантия на скалодром сроком на 3 года. Срок службы любого скалодрома, как минимум, равен 5 годам. В скалодромах используются крепкие, прочные материалы, так что ломаться нечему, в принципе.</p>


<hr />
<h4>Сколько это стоит?</h4>
<p>Цена от 40 у.е. за 1 кв.м. Точная стоимость будет Вам озвучена при выезде нашего специалиста либо, если Вы хотите узнать по телефону или через интернет, в течение рабочего дня по Вашим эскизам.</p>


<hr />
<h4>Почему у вас так дешево?</h4>
<p>Мы используем 100% отечественные материалы, которые приобретаются в государственной валюте. Мы предоставляем именно тот продукт, который подойдет клиенту, не пытаясь продать, к примеру, те же стеклопластиковые панели - дорогой материал. Мы считаем, что клиент не должен переплачивать за производство!</p>

<hr />
<h4>А можно бесплатный проект?</h4>
<p>Мы можем разработать эскиз дизайн-проекта абсолютно бесплатно. Между тем, подробное проектирование, 3D модель создаются исключительно после подписания контракта.</p>

<hr />
<h4>Где Вы работаете?</h4>
<p>4 страны, где были реализованы проекты: Казахстан, Россия, Украина, Беларусь. Мы не ограничиваем себя географическим положением!</p>

