﻿<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v8bb9Wo4SL0" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->

<div class="indent-regular">
  <h4>Давайте узнаем, почему СКАЛОДРОМ - это гарантированно БЕЗОПАСНЫЙ ЭКСТРИМ?</h4>
</div>
<div class="row">
  <div class="col-xs-8">
    <p><img alt="ico" class="leftimg_ico" src="img/services/3-4-7/ico1.png" /></p>

    <p style="padding: 0 0 10px 48px;">В Швеции убрали с детских площадок все элементы свыше 1 метра, с которых дети могли упасть и травмироваться. Таким образом, был обезопасен детский досуг.</p>

    <p style="padding: 0 0 10px 48px;">Благодаря данному шагу, процент детского травматизма вырос вдвое. С чем это связано? Связано с тем, что детям постоянно хочется куда-то лезть, не удовлетворив сею потребность, дети начали массово лазить по деревьям и опасным местам, которые для этого не были предназначены (с полным отсутствием мягких матов и страховочных систем).</p>

    <p style="padding: 0px 0px 10px 45px;">По завершению неудачного эксперимента правительство Швеции полностью сменило курс развития: теперь ежегодно создается большое количество детских площадок, где есть уличный скалодром средней высоты.</p>

    <p style="padding: 0 0 10px 48px;">Специальные страховочные маты как средство страховки</p>

    <p><img alt="ico" class="leftimg_ico" src="img/services/3-4-7/ico2.png" /></p>

    <p style="padding: 0 0 10px 48px;">Первый случай - это специальные <a href="[[++site_url]]/texnologii/sportivnyie-matyi-dlya-skalodromov">мягкие спортивные маты</a>, тут страховка производится благодаря толстым матам, которые являются полностью безопасными.</p>

    <p style="padding: 0 0 10px 48px;">Отмечаем, что высота скалодрома, толщина и жесткость матов рассчитываются специалистами CK FormAT, основываясь на стандартных решениях. Также на основе индивидуального заказа под определенную возрастную группу, с учётом всех особенностей клиентов.</p>

    <p style="padding: 0px 0px 10px 45px;">К примеру, мы не можем рекомендовать использование матов при высоте свыше 3-х метров без специальной подготовки. При этом до 3-х метров абсолютно каждый ребенок-новичёк может совершенно безопасно начать лазить. Изначально желательно под контролем родителей, но уже после нескольких занятий можно смело оставлять ребенка (от 7 лет) одного. При этом родители должны присутствовать на первых занятиях, дабы лично убедиться, что это совершенно безопасно.</p>

    <p style="padding: 0 0 10px 48px;">Система автоматической страховки = <strong>повышенная безопасность</strong></p>

    <p><img alt="ico" class="leftimg_ico" src="img/services/3-4-7/ico3.png" /></p>

    <p style="padding: 0 0 10px 48px;">Для скалодромов более 4,5 м. обязательным является применение <a href="[[++site_url]]texnologii/sistema-bezopasnosti">системы страховки</a>.</p>

    <p style="padding: 0 0 10px 48px;">В данную категорию входят <a href="[[++site_url]]texnologii/snaryazhenie-dlya-skalodroma-oborydovanie-dlya-skalodroma">страховочные индивидуальные системы, карабины, шлямбура, веревки, а также прочее скалолазное оборудование</a>. Оборудование Вы можете сами приобрести в специализированных тематических магазинах или же можете купить у нас в комплекте со скалодромом.</p>
  </div>
  <div class="col-xs-4">
    <img alt="Скалодром на детской площадке" src="IMAGES/domashnii skalodrom - bezopasnui ekstrim.jpg" title="Скалодром на детской площадке - безопасный экстрим. Фото" />
  </div>
</div>

<p>&nbsp;</p>
<p>Существует возможность использования механической, полуавтоматической и автоматической системы страховок. Отмечаем, что даже при механической (иными словами, ручная страховка), Вам не требуется профессионал-инструктор, если Вы новичок-любитель. Хватит еще одного человека, который ознакомился с нашей инструкцией, где все ясно и предельно понятно прописано. Автоматическая страховка дает возможность человеку самому преодолевать высотные маршруты на скалодроме без привлечения иных людей. Такая страховка наиболее безопасна.</p>

<p>Для изготовления домашних и детских скалодромов мы используем только экологично чистые и безопасные материалы, которые прошли испытания и наилучшим образом подходят для детей. В частности, для изготовления популярных скалодромов мы используем <a href="[[++site_url]]texnologii/osobennosti-skalolaznyix-panelej">шлифованную фанеру</a>, которая предназначена для профессиональных спортивных скалодромов и выдерживает статическую и динамическую нагрузку более 200 кг. Лист фанеры проходит процесс детальной шлифовки и покрывается безопасной краской и слоями нетоксичного лака для более долговечного использования.</p>

<p>Что касается рельефных <a href="[[++site_url]]texnologii/paneli-dlya-skalodroma">стеклопластиковых/пластиковых скалодромов</a>, то мы в отличии от ряда производителей, руководствуемся прежде всего безопасностью, прочностью и экологичностью материалов. В частности, в качестве одного из компонентов мы используем эпоксидную смолу, которая в разы экологичнее и прочнее, чем полиэфирная смола, которую используют большинство производителей в связи с простотой использования и дешевизной. Да, полиэфирные смолы дешевле и проще в производстве, но мы точно не будем экономить на здоровье детей, поскольку сама идея детских домашних и в целом всех скалодромов - это здоровый образ жизни.</p>

