﻿<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z3E-WMZF1BA" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->


<div class="indent-regular"><img alt="Место под домашний скалодром" src="IMAGES/mesto pod domashnii skalodrom.jpg" title="Место под домашний скалодром есть всегда. Фото" /></div>


<div class="row">
  <div class="col-xs-8">
    <h3>ГДЕ размещают СКАЛОДРОМ?</h3>

    <p>Гибкость, непривередливость комплектующих и разнообразность в дизайне позволяют разместить скалодром практически везде!</p>

    <h5>Если уличный скалодром, то размещают:</h5>
    <ul>
      <li>на приусадебный участок, на дачу отдельным</li>
      <li>самодостаточным каркасом</li>
      <li>на стену/забор частного дома, гаража, подсобного помещения</li>
      <li>над бассейном</li>
    </ul>

    <h5>Если же в дом/квартиру, то в:</h5>
    <ul>
      <li>детскую</li>
      <li>спортивный уголок или спортивный зал</li>
      <li>на чердак</li>
      <li>в подвал</li>
      <li>в коридор</li>
      <li>и вообще на любую свободную стенку</li>
    </ul>


    <p>Занимает мало места. Для установки скалодрома хватит 10 см. отступа от стены. Скалодром можно разместить везде: хоть в маленькой комнате, хоть в узком коридоре.</p>
  </div>
  <div class="col-xs-4">
    <p><img alt="Где установить скалодром" src="IMAGES/mesto dlya domashnego skalodroma.jpg" title="Домашний скалодром - это стильно, удобно и полезно. Фото" /></p>
  </div>
</div>

<div class="clearfix">&nbsp;</div>

<h4 >Если вы не знаете, куда дома поставить скалодром:</h4>

<p><img alt="Куда установить скалодром" src="IMAGES/skalodrom doma.jpg" title="Где установить домашний скалодром. Фото" style="width: 100%;" /></p>


<h4>Скалодром на дереве</h4>

<p>Скалодром на дереве - весьма интересное размещение скалодрома, которое набрало популярность в Европе. Все мы знаем, что дети любят лазить по деревьям, а это весьма травмаопасное занятие. Скалодром на дереве станет прекрасной альтернативой этому занятию. Разница будет заключаться в том, что лазание по дереву станет абсолютно безопасным, благодаря страховочным системам, которые мы используем в своих скалодромах.</p>

<h4>Скалодром в детской комнате</h4>

<p>Наиболее популярный вариант домашнего скалодрома. Все чаще и чаще родители покупают скалодром для детской комнаты своего ребенка. Такой скалодром имеет массу плюсов: не нужно никуда ходить, чтобы заняться спортом, в любой момент можно заняться скалолазанием - отличное средство от депрессии и уныния, активных отдых, <strong>БЕЗОПАСНЫЙ</strong> экстрим, необходимая физическая нагрузка на все группы мышц, что позволяет ребенку полноценно развиваться. Также скалодром станет отличным интерьерным решением для Вас!</p>

<div class="clearfix"></div>
