﻿<p><img alt="отзывы" class="rightimg" src="IMAGES/otzuvu o domashnem skalodrome.jpg" /></p>


<blockquote>
  <p>Я, конечно, раздумывала, мол упадет, опасно, стоит ли так рано, но потом поняла, что упасть он может и в 5 и в 10 лет. Пусть лучше с малолетства учится потихоньку чувствовать пространство, самое оно для развития мозга</p>
  <footer>Мария, <cite title="Source Title">г. Пермь</cite></footer>
</blockquote>

<blockquote>
  <p>Спасибо моей жене Елене за любовь ко мне и разрешение использовать комнату для строительства домашней стены.</p>
  <footer>Николай</footer>
</blockquote>

<blockquote>
  <p>За те деньги, что стоит домашняя шведская стенка, можно всю жизнь ходить на стадион бесплатно. А за те деньги, что стоит автомобиль, можно ездить всю жизнь на такси. Это вопрос философии уже. Дитё лазает по скалодрому уже год. Я редко, но разминаюсь.</p>
  <footer>Михаил</footer>
</blockquote>

<blockquote>
  <p>Скорее всего, зацепы будут не во всю стену, а только на ту высоту, откуда ребёнок сможет легко и безопасно спрыгнуть самостоятельно на маты. Страховкой пользоваться всё равно не будет. По мере роста мастерства и цепкости, можно будет наращивать высоту.</p>
  <footer>Юлия</footer>
</blockquote>

<blockquote>
  <p>Я с самого раннего возраста приучаю ребенка чувствовать свое тело и отвечать за свои действия. Я знаю, что рано или поздно он все равно куда-нибудь залезет, но я по крайней мере уверена в том, что ему хватит навыка и опыта слезть оттуда целым и невредимым!!!!!</p>
  <footer>Gekta, <cite title="Source Title">г. Москва</cite></footer>
</blockquote>

<blockquote>
  <p>Какое там не могу! Не думала и не мечтала, а что-то получилось!!! Ого! Ура!!! О-хо-хо!!! А мне 55! Спасибо!</p>
  <footer>Валентина</footer>
</blockquote>

<blockquote>
  <p>Люди! Решений намного больше, чем кажется поначалу… Не спешите со своим «НЕ МОГУ!». Откройте глаза. Поверьте в себя. Поверьте в свой успех! Вы можете!!! Я смогла!!!</p>
  <footer>Аня Угарова</footer>
</blockquote>


<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/p3jdCbZyiaU" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
