﻿<p>Если Вы увлекаетесь скалолазанием, но нет времени регулярно посещать скалолазные клубы, а хочется поддерживать форму, и если вам недостаточно основных тренировок и хочется наращивать форму за счет дополнительных индивидуальных занятий, то свой личный домашний скалодром решит эти задачи.</p>

<div class="indent-regular">
  <p><img alt="Скалодром для чердака" src="IMAGES/domashnii skalodrom dlya vzrosluh.jpg" title="Домашний скалодром для взрослых. Скалодром в гараже. Фото" /></p>
</div>


<p><strong>Для взрослых СК FormAT предлагает ряд продуктов:</strong></p>

<ul>
  <li>это небольшие боулдеринговые скалодромы до 3 м;</li>
  <li>это <a href="[[++site_url]]vidyi-skalodromov/systemboard">систем-борды</a> и кампус-борды</li>
  <li>это фингерборды</li>
  <li>ну и конечно, если у вас позволяет высота потолков, есть внешняя высокая стена дома или же есть свободное пространство на участке, то это высотные скалодромы от 3-4 м. с верхней и нижней страховкой.</li>
</ul>

<p>Если пространство позволяет, то можно построить большой скалодром с разнообразным рельефом, нависаниями и геометрией. Так Вы сможете почувствовать себя скалолазом, полноценно занимаясь скалолазанием дома.</p>

<p>Даже если у Вас небольшой домашний скалодром, то всего за несколько подходов в удобное время он обеспечит Вам комплексную нагрузку на мышцы и разгонит кровь с насиженных мест и мышц Кора.</p>



<div class="clearfix">&nbsp;</div>

<!-- embed video -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z3E-WMZF1BA" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>&nbsp;</p>
<!-- embed video -->
